[2021-07-08 13:28] anissac opened #4 "client is not safe in multi goroutine"
I am using the example to do a performance test,  but found the client is not safe  used by multi goroutine.  will cause the err:

2021/07/08 21:15:09 invoker err: index:5, idx: 306, sendTotalCount:6129, no more instances to retry: last error: get connection error: dial connection err: dial tcp :8888: i/o timeout, addr: :8888

the below is the part code:
client, err := hello.NewClient("hello", cli

[2021-07-14 06:38] weiguoz opened #2 "Please update the relevant links"
Link in the `readme` file such as https://github.com/cloudwego/kitex-benchmark is invalid.

[2021-07-14 07:53] YangruiEmma commented on #2
Thanks for remind, the benchmark code will upload later. When it is done, I will tell you then close this issue.

[2021-07-15 06:40] hitzhangjie opened #5 "docs: the `cloudwego/examples` repository not existed"
In documentation 'kitex/docs/guide/getting_started_cn.md'

It tells we could clone the repository `https://github.com/cloudwego/examples.git` to quickly get started.

But this repository is not existed.

[2021-07-15 06:56] hitzhangjie opened #6 "tool: generated serverside code build failed"
Hi, I use protobuf as IDL, here's the protobuf content:

[code]

then generate the serverside code: `kitex -type protobuf -service helloworldservice -module xxxxxx hello.proto`

the generated project structure is:

[code]

run `go mod tidy && go build -v`,  it reports the error:

[code]

we could see the generated folder `kitex_gen/github/com/helloworld` should be put under folder `kitex_gen/githu

[2021-07-15 07:27] hitzhangjie opened #7 "conf: consider add a flag `-c` in generated serverside code to pass config filepath"
I think it would be more convenient to add a flag `-c` to pass the config filepath.

And in the config file, we could add 'logdir' item.

ps: When deployed in K8S, passing configuration via environment variables is convenient.

[2021-07-15 07:35] hitzhangjie opened #8 "server: do we plan to support multiple services?"
I tested a protofile with 2 service definitions.

[code]

The generated code says only the last service is supported.

[code]

And, I want to know whether a kitex service instance support multiple protocols or not. Maybe not, right?

[2021-07-15 07:57] hitzhangjie opened #10 "readability: consider `Serializer` instead of `PayloadCodec`"
[code]

This interface specifies how to Marshal and Unmarshal the payload, literal `Serializer` may be more precise.

[2021-07-15 08:25] hitzhangjie opened #11 "tool: how to customize the templates?"
if developers want to customize the templates, like:
- add a README.md which describes the servicename, rpc, protocols, etc.
- add a handler_test.go for unit testing.
- etc.

So far, the templates are defined in go code under `tool/internal/pkg/tpl`, developers can do this only by fork and changing code.

[2021-07-15 10:35] wsyingang opened #14 "How about Service Discovery"
Kitex is a very useful framework

[2021-07-15 11:19] Hchenn commented on #5
ready now: https://github.com/cloudwego/kitex-examples

[2021-07-15 11:19] #14 closed, assigned to nobody

[2021-07-15 11:35] wsyingang opened #15 "tool:build kitex tool by hand"
## if someone install kitex tool like this:
`github.com/cloudwego/thriftgo/parser
go/src/github.com/cloudwego/thriftgo/parser/AST.go:290:35: not enough arguments in call to iprot.ReadStructBegin
	have ()
	want (context.Context)
go/src/github.com/cloudwego/thriftgo/parser/AST.go:295:54: not enough arguments in call to iprot.ReadFieldBegin
	have ()
	want (context.Context)
go/src/github.com/cloudwego

[2021-07-15 11:47] simon0-o commented on #15
have you used `-u` option when `go get`

[2021-07-15 11:55] simon0-o commented on #8
Yes, Kitex support multiple services, but do it by combine several services into a single service instead of multiple protocols.  Check [combine service](https://github.com/cloudwego/kitex/blob/develop/docs/guide/basic-features/combine_service_cn.md)

[2021-07-15 12:09] wsyingang opened #17 "discovery：Are there plans to support other service registration and discovery？"
Now，The service diccovery depend on kubernets。Are there plans to support other serivce discovery？For Example，ZooKeeper or Nacos。

[2021-07-15 12:13] lsjbd commented on #10
In practice, a `Serializer` often comes with a `Deserializer` as a pair to serve the semantics for `Marshaling` and `Unmarshaling`.  `Codec` is quite appropriate here. By the way, for compatibility, we can not change the name without a strong reason other than 'a better name'.

[2021-07-15 12:13] #10 closed, assigned to nobody

[2021-07-15 12:27] lsjbd commented on #7
A Kitex server is started by a bootstrap.sh by design, so the bootstrap script provides an opportunity to inject the environment variable you want. Kitex server reads a config file whose path is specified by two env var `${KITEX_CONF_DIR}/${KITEX_CONF_FILE}` (and they are `$(pwd)/conf` and `kitex.yml` respectively, by default).

I think this mechanism should satisfy your purpose, making the `-c` f

[2021-07-15 12:33] #11 closed, assigned to nobody

[2021-07-16 13:38] YangruiEmma commented on #8
@hitzhangjie Is combine service can solve your problem?

[2021-07-16 13:56] YangruiEmma commented on #6
I can't get the error, the package path should not include github.com. what's the -module param you write?

[2021-07-18 07:45] wsyingang commented on #17
URL https://github.com/cloudwego/kitex-contrib. 404 Not Found.

[2021-07-18 07:51] simon0-o commented on #17
public application is still in the progress

[2021-07-18 07:53] wsyingang commented on #17
OK thanks.

[2021-07-18 16:04] LeeGG opened #22 "readme 汉语好评！"
readme 汉语好评！

[2021-07-19 08:44] DZGodly opened #24 "qpsLimiter.updateToken() 方法的误差可能过大"
https://github.com/cloudwego/kitex/blob/b2d229b335dd478d63c272ffcd3ebdff4a21bc71/pkg/limiter/qps_limiter.go#L98

在 line 100，和 line 106 之间如果涌入大量流量 v，v的误差可能过大

[code]

改成类似如下流程或许更好：

[code]

[2021-07-19 10:39] Abioy opened #26 "Proposal: hook before processing request"
Hi there,

is there any chance that kitex could provide some ways to hook before processing rpc request?

I would like to incr stack size in my service for reducing stack-copy overhead, which might be larger then 10%.

in my service request come with `ttheader-framed`, which could be almost 2KB, and therefore go runtime increases the stack size during reading, decoding or processing requests almos

[2021-07-19 11:38] YangruiEmma commented on #26
Thanks for this suggestion, we will consider about that. But if you want to hook before processing request, maybe extend `BoundHandler` is a better choice, reference https://github.com/cloudwego/kitex/blob/develop/docs/guide/extension/trans_pipeline_cn.md,
make pre-allocation in `OnRead`

[2021-07-21 02:44] darjun opened #30 "kitex 命令不支持生成protobuf代码"
文档中写明支持thrift和protobuf，我试了proto文件，提示：
[code]

[2021-07-21 02:57] simon0-o commented on #30
`-type` 参数指定 `protobuf`

[2021-07-21 02:59] #30 closed, assigned to nobody

[2021-07-24 19:26] justinxu9905 opened #32 "docs/guide/getting_started_cn.md: generate project structure failed"
When I tried to generate project structure with cmd `$ kitex -module example -service example echo.thrift`. An error comes up: `Failed to find "" from $PATH: exec: "thriftgo": executable file not found in $PATH. Try $GOPATH/bin/thriftgo instead`

[2021-07-25 10:34] DZGodly opened #33 "重试策略有data race"
行数：
https://github.com/cloudwego/kitex/blob/67262666003df9d5e095e25c238f5950d958feac/pkg/retry/backup_retryer.go#L104

测试代码
[code]

[2021-07-25 10:35] DZGodly commented on #33
L105 处的 StringBuilder 也有 race
https://github.com/cloudwego/kitex/blob/67262666003df9d5e095e25c238f5950d958feac/pkg/retry/backup_retryer.go#L105

[2021-07-26 06:36] lsjbd commented on #32
Kitex requires an underlying thrift compiler to do a part of code generation. You can install it by `go get github.com/cloudwego/thriftgo`. We'll update the documentation later. Thank you.

[2021-07-26 12:48] #33 closed, assigned to nobody

[2021-07-27 07:50] #5 closed, assigned to nobody

[2021-07-27 07:50] #32 closed, assigned to nobody

[2021-07-28 03:23] #15 closed, assigned to nobody

[2021-08-02 02:09] panyox opened #47 "有事务的解决方案吗？"
如题

[2021-08-02 03:00] YangruiEmma commented on #47
您好，Kitex是没有的，定位是微服务通信框架，暂时不考虑分布式事务解决方案

[2021-08-02 03:19] panyox commented on #47
好的,谢谢，很优秀的框架👍

[2021-08-02 03:19] #47 closed, assigned to nobody

[2021-08-05 06:24] #2 closed, assigned to nobody

[2021-08-06 16:34] bitforce2077 opened #54 "s.opt.Svr.ServiceName is "" and caused the ServiceName in the registry.Info is "" too"
In the comment of registry.Info, it is said that

// ServiceName will be set in kitex by default

but it turns out that this field is not set

And the reason is that in server.go, s.opt.Svr.ServiceName is not set too.

Is this is expected?

Thanks.

[2021-08-06 16:39] bitforce2077 opened #55 "s.opt.Svr.ServiceName is "" and caused the ServiceName in the registry.Info is "" too"
In the comment of registry.Info, it is said that

// ServiceName will be set in kitex by default

but it turns out that this field is not set

And the reason is that in server.go, s.opt.Svr.ServiceName is not set too.

Is this is expected?

Thanks.

[2021-08-06 16:42] #54 closed, assigned to nobody

[2021-08-08 14:54] YangruiEmma commented on #55
Sorry, it is not very clear. For server side , the server info need to be initialized with `WithServerBasicInfo` option.
We suggest developers who extend Kitex to wrap initialization for server or client with [`Suite`](https://github.com/cloudwego/kitex/blob/develop/docs/guide/extension/suite_cn.md).
So you need to specify serviceName through WithServerBasicInfo in `suite` extension.
For user, jus

[2021-08-08 15:40] bitforce2077 commented on #55
Sorry if I didn't make it clear. I am trying to wrap a registry and a resolver with the interfaces that provided by Kitex.

And I saw the following comment in the Info struct in the file registry.go

	// ServiceName will be set in kitex by default
	ServiceName string

So my understanding is that this info (the ServiceName) will be set by Kitex and I don't need to take care of it (like initialize i

[2021-08-12 12:09] ssolid2014 opened #57 "多路复用的server_handler会将rpinfo的rpcstate的statslevel清零，导致后继请求的statslevel为LevelDisabled"
如题，netpollmux的server_handler中的rpcinfo用了对象池，然后在finishTracer函数中，会将rpcStats清零，这样后继的请求如果拿到这个rpcInfo，其statsLevel会是0，即LevelDisabled，导致不会被trace

[2021-08-12 12:12] YangruiEmma commented on #57
Thanks, fix in https://github.com/cloudwego/kitex/pull/58

[2021-08-13 05:24] YangruiEmma commented on #57
Fix  https://github.com/cloudwego/kitex/pull/58 merge done.

[2021-08-13 05:24] #57 closed, assigned to YangruiEmma

[2021-08-13 07:44] yodfz opened #59 "直接重新生成，报异常"
[code]

[2021-08-13 07:54] lsjbd commented on #59
这不是异常……提示很明确了，你需要指定一个模块名，否则没法明确生成代码的 import 路径。

[2021-08-15 10:45] illidanzheng opened #61 "示例代码有误"
Add接口的Server端代码有误：

![image](https://user-images.githubusercontent.com/53388502/129475742-674a691d-ed82-4f0c-8da2-269a73902aea.png)

上述代码需要改为：
![image](https://user-images.githubusercontent.com/53388502/129475828-36c3dbf3-7706-4db6-b491-1c27abf8a79c.png)

[2021-08-16 07:28] YangruiEmma commented on #55
Oh, I missed your reply >.<. Yes, Kitex will set ServiceName to RegistryInfo, but when you Build Server, the serviceName is needed to be passed with option `WithServerBasicInfo`,  or Kitex doesn't know the ServiceName of Server.
ServiceName as a must param to build Server is more reasonable, but we consider that sometimes ServiceName will be decided by infrastructure, for example get it from env,

[2021-08-16 08:35] GuangmingLuo opened #63 "Are you using Kitex ?"
## The purpose of this issue
We are always interested in finding out who is using Kitex, what attracted you to using it, how we can listen to your needs and if you are interested, help promote your organization.

- We have people reaching out to us asking, who uses Kitex in production?
- We’d like to listen to what you would like to see in Kitex and your scenarios?
- We'd like to help promote your

[2021-08-17 03:27] YangruiEmma commented on #61
感谢，我们看下

[2021-08-17 07:49] jiaohu opened #67 "双向流示例代码有误"
[文档地址](https://github.com/cloudwego/kitex/blob/develop/docs/guide/basic-features/interaction_cn.md)

下面这块代码有问题
[code]

[2021-08-17 08:26] YangruiEmma commented on #59
@yodfz 这不是异常，是提示信息，此issue close啦

[2021-08-17 08:26] #59 closed, assigned to nobody

[2021-08-17 08:36] illidanzheng commented on #59
请问你说的是哪个issue？我提的issue是Getting Started示例代码有误，thrift中，AddResponse消息体中定义的field名字为sum，但是代码中，赋值的时候使用的是：Result_

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年8月17日(星期二) 下午4:26
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [cloudwego/kitex] 直接重新生成，报异常 (#59)

@illidanzheng 这不是异常，是提示信息，此issue close啦

—
You are receiving this because you were m

[2021-08-17 08:44] #61 closed, assigned to simon0-o

[2021-08-17 15:17] Singularity0909 opened #68 "Redundant warning occurs when http2server handles streams"
I noticed that a warning always occurs when the service handles [health check](https://github.com/grpc/grpc/blob/master/doc/health-checking.md#service-definition) request by Consul:

`[Warn] transport: http2Server.HandleStreams failed to read frame: EOF`

https://github.com/cloudwego/kitex/blob/develop/pkg/remote/trans/nphttp2/grpc/http2_server.go#L342

And I founded that `err` equals to a constan

[2021-08-18 03:24] dyxushuai commented on #68
@Singularity0909 Thank you very much and it looks good for me.

[2021-08-18 03:34] #68 closed, assigned to nobody

[2021-08-18 06:27] Singularity0909 commented on #68
I mistook error type [`*netpoll.exception`](https://github.com/cloudwego/netpoll/blob/main/connection_errors.go#L52) as `syscall.Errno` : (

[2021-08-18 08:40] #67 closed, assigned to nobody

[2021-09-02 07:54] nihaibao opened #100 "监听随机端口，服务注册时registry.Info端口错误"
![image](https://user-images.githubusercontent.com/7386005/131804779-9062a345-f9dd-4205-b967-37f36ea32696.png)

如图，如果服务监听随机端口，服务注册时registry.Info里面port为0，非监听的端口

[2021-09-06 09:00] leos-code opened #105 "Protobuf and gRPC not Support"
kitex generate proto failure
Here's the command
[code]

[2021-09-06 09:15] YangruiEmma commented on #105
`go install github.com/cloudwego/kitex/tool/cmd/kitex@develop` to update kitex tool, there is a fix in https://github.com/cloudwego/kitex/pull/91

[2021-09-07 08:12] hunterhug opened #108 "can support http gateway?"
Just like gRPC http gateway, because some language such Java or PHP also want to join...

[2021-09-08 07:38] YangruiEmma commented on #108
Kitex supports HTTP Mapping Generic Call, refer to https://github.com/cloudwego/kitex/blob/develop/docs/guide/advanced-features/generic_call_cn.md. You can use it to implement your api gateway.

[2021-09-09 02:39] william-best opened #110 "thrift or grpc How to choose?"
The features of kitex support thrift more than grpc, so We want to know:
1. when people choose this framework , how to choose thrift or grpc
2. and give our some suggestion.
3. most of small company use grpc,  please give more examples on grpc

[2021-09-09 03:27] qlans opened #111 "kitex会支持service mesh吗"
kitex 关注消息如何编解码（thrift、protobuf），如何高效的传输（TTHeader），也内置了熔断限流和服务治理的功能，跟dubbo比较像（kitex能够支持跨语言）。这种编码和协议对service mesh不那么友好，现在很多公司都在往service mesh的方向探索，dubbo3.0已经支持Service Mesh了，kitex会往这个方向发展吗

[2021-09-09 04:14] YangruiEmma commented on #111
我们内部 ServiceMesh 已经全面落地，TTHeader 的支持也是源于 Mesh，作为传输协议可以在治理层面打通框架和 Mesh。Kitex 默认提供的是裸框架，治理模块由用户选择，内部在 Mesh 场景会卸掉一些治理模块，pkg/proxy 定义的接口也是为 Mesh 场景提供的。
关于 ServiceMesh，可以参考这篇文章 https://www.infoq.cn/article/asgjevrm8islszo7ixzh

[2021-09-09 05:39] hunterhug commented on #108
It seems `Partially Prepared Products` 。

[2021-09-09 07:28] qlans commented on #111
谢谢回答，我们这边Go的业务场景比较少，业务主要使用Java技术栈，这边更关心ServiceMesh如何来落地，参考下你们的实践^_^

[2021-09-09 07:28] #111 closed, assigned to nobody

[2021-09-09 16:03] wangyuheng opened #112 "What is psm?"
I see the code & document has `psm` everywhere.
What does that mean?

[2021-09-09 16:16] YangruiEmma commented on #112
Thanks for the feedback. PSM is the unique identifier of a service, it is internal concept. We will modify it to `Service Name` at next version.

[2021-09-10 06:01] kenyk opened #115 "getting_started_cn.md文档问题"
根据kitex-develop/docs/guide/getting_started_cn.md文档，快速搭建hello例子，按照这个文档步骤，操作
`新方法分别定义一个新的请求和响应，`AddRequest` 和 `AddResponse`，并在 `service Hello` 中增加 `add` 方法：`
在运行的时候报异常
`handler.go:20:2: package kitex-examples/hello/kitex_gen/api is not in GOROOT (/root/go/src/kitex-examples/hello/kitex_gen/api)`
经对比初始例子，发现kitex生成的新handler.go中多了一条引入包的import代码，如下图：
![image](https://user-images.githubusercontent.com/42

[2021-09-10 06:23] simon0-o commented on #115
![image](https://user-images.githubusercontent.com/30747055/132809047-e66c1e3c-cec7-4deb-afa4-b3a1a1d2d49a.png)
没能复现你提到的情况，有可能是IDE或者编辑器导致的，可以在关闭IDE/编辑器后，在命令行重新走一遍流程，看能否复现。

[2021-09-13 02:30] YangruiEmma commented on #110
Sorry for the late reply.
It is hard to say which is a better choice, it depends on current protocol you use. gRPC is more commonly used than thrift. For new users, maybe choosing gRPC is friendly to you.
For us, thrift is unified protocol internally, so we support thrift more than gRPC. But Kitex had been open sourced, providing convenience for more users is our hope, and we have plan to do somet

[2021-09-13 13:52] Abioy opened #123 "Proposal: reduce overhead of defaultCodec.Decode"
method `defaultCodec.Decode` could occupy ~10% cpu usage in high concurrency services.
PR #122 try to improve `codec.ttHeader.decode` by reducing memory copy times and reusing small map objects.

[2021-09-13 14:07] YangruiEmma commented on #123
Thanks @Abioy. I have replied below #122 , it is a good proposal but it will lead panic

[2021-09-16 13:55] WingT opened #134 "能否支持生成 client 调 invoker?"
目前 server 通过生成 invoker 支持了 SDK 化，但是 Invoker 本身并没有 IDL 定义的 RPC, 用起来十分不便，能不能进一步生成 Client 去调 Invoker？或者有什么更好的办法?

[2021-09-16 16:52] faafbb opened #135 "Generate code on windows 10 failed"
hi, I'm getting started with the tutorial on Windows 10. I had install kitex and thriftgo by `go install`, and run `kitex -module example -service example echo.thrift` in powerShell, but it's stuck, and the console has nothing output, I notice that kitex will create symbol links `thrift-gen-kitex` and `protoc-gen-kitex` in ~/go/bin, but I didn't see these two things in the directory, so I try to u

[2021-09-17 09:08] ryan961 opened #136 "Upgrade thrift IDL to v0.15.0"
[code]
Have thinked about upgrading thrift?

[2021-09-21 08:00] YangruiEmma commented on #136
Apache Thrift v0.14.0 has breaking changes, we cannot upgrade thrift. It is suggested to executed `go mod edit -replace=github.com/apache/thrift=github.com/apache/thrift@v0.13.0`

[2021-09-22 06:32] xuyang2 opened #144 "`compress.Compressor` seems to be unused and commented incorrectly"
https://github.com/cloudwego/kitex/blob/0f58b30a1d32d6e6f8e8e4a78019508fe1065892/pkg/compress/compressor.go#L19-L40

[2021-09-23 03:06] #144 closed, assigned to nobody

[2021-09-23 03:58] #24 closed, assigned to lsjbd

[2021-09-23 04:01] #100 closed, assigned to YangruiEmma

[2021-09-23 08:22] YangruiEmma commented on #135
Sorry, Windows is not supported, linux or mac is ok.

[2021-09-23 08:27] #136 closed, assigned to nobody

[2021-09-23 08:36] simon0-o commented on #134
SDK 化的使用场景比较特别。最初是为通用网关设计，这种场景下可以拿到已经序列化好的完整请求，但是因为无法监听端口或者无法直接拿到thrift请求等原因，最后通过invoker这种形式来做了支持。然后不太清楚你们的具体场景，如果是想手动构建thrift请求（也就是 SDK 化文档中提到的payload），可以通过我们提供的编解码工具来实现，详见 [here](https://github.com/cloudwego/kitex/blob/main/pkg/utils/thrift.go#L49)

[2021-09-23 09:08] #112 closed, assigned to nobody

[2021-09-24 04:02] shaohongwu opened #153 "我在跑 kitex-examples 出现问题"
go version go1.15.3 windows/amd64
使用
git clone https://github.com/cloudwego/kitex-examples.git
cd examples/hello
go run .
出现

# github.com/cloudwego/netpoll
C:\Users\***\go\pkg\mod\github.com\cloudwego\netpoll@v0.0.3\connection.go:59:18: undefined: OnRequest
C:\Users\***\go\pkg\mod\github.com\cloudwego\netpoll@v0.0.3\connection_impl.go:30:2: undefined: netFD
C:\Users\***\go\pkg\mod\github.com\clou

[2021-09-24 04:21] YangruiEmma commented on #153
你好，不支持windows哈

[2021-09-24 05:36] shaohongwu commented on #153
尴尬

[2021-09-24 08:17] Richard1ybb commented on #105
I have the same problem. It has been solved.

[2021-09-24 13:15] YangruiEmma opened #155 "Request help: Support more extensions of service Registration and Discovery"
**Issue Description**
Support more extensions of service Registration and Discovery. You can choose [ZooKeeper](https://zookeeper.apache.org/), [Consul](https://www.consul.io/), [etcd](https://etcd.io/)...

**Code Repository**
Please create a new repo in https://github.com/kitex-contrib, the repo name is suggested `registry-xxx`, eg `registry-zookeeper`.

**Extension API**
- Registry:
   - EN: htt

[2021-09-24 13:23] YangruiEmma opened #156 "Request help: Write a business demo code use Kitex and Hertz"
**Issue Description**
Write a business demo code use Kitex, which can guide users how to use Kitex.
Please submit your code to https://github.com/cloudwego/biz-demo{yourdemo}.

**Picked**
- [x] DONE by @longlihale , https://github.com/cloudwego/kitex-examples/pull/22
- [ ] TODO by @L0uisJ0shua
- [x] DONE by @bodhisatan, https://github.com/cloudwego/biz-demo/tree/main/book-shop

[2021-09-24 13:38] ghost commented on #156
Hello,I want to write a business demo code use Kitex @YangruiEmma

[2021-09-24 14:23] horizonzy commented on #155
I want to support zookeeper.

[2021-09-25 07:24] lubanproj opened #157 "can kitex support kcp?"
We mainly focus on frame synchronization in online games and real-time battle scenarios which has high requirements for latency. After looking at the test data on the Internet, the performance of kcp is better than that of quic in weak network scenarios. I looked at grpc and rpcx. The mode based on a single long connection can support kcp, but kitex cannot.

refer to : https://github.com/xtaci/kcp

[2021-09-26 02:38] lizhemingi commented on #155
I would like to have a try on etcd if you don't mind.

[2021-09-26 10:40] YangruiEmma commented on #157
Thank you for your suggestion, we will consider about it but the time is not sure now. When we have planned to do it, we will update this issue. Of course, we would appreciate it if you can submit your implementation.

[2021-09-26 14:13] GoGoodStudy opened #160 "虽然有Apache 2.0协议在，但是还是想咨询下 Kitex 版权问题"
非常感谢字节跳动开源Kitex微服务框架。

我们团队有在使用 Kitex 做微服务开发来构建程序业务。最近在知乎上也看到一个关于版权争议的问题，所以在这里请教下：

Kitex 仓库是基于 Apache 2.0 开源协议的，那放在当前仓库下的文档教程(docs目录下)，是否也算是遵循 Apache 2.0 协议？比如我对文档教程做了转载等，转载有注明出处来源，这种行为算不算侵权？

[2021-09-27 10:05] GuangmingLuo commented on #160
您好，按照当前协议，转载时请注意以下几点：

- 文档中声明：“Copyright 2021 CloudWeGo authors | Documentation Distributed under Apache-2.0“

- 原文链接跳转：https://www.cloudwego.io 相关子页面

- 不得将本文档教程用于商业目的（包括商业化引流）

后续 CloudWeGo 项目所有文档都统一在 https://github.com/cloudwego/cloudwego.github.io 仓库维护，需遵循该仓库的协议。

[2021-09-28 03:33] huanglaoyi commented on #153
试了WSL2还是有各种问题：
1、如果文件没有在WSL2环境内，特别卡，基本上不可能
2、如果IDE等开发环境都安装到WSL2环境内，UI很多不兼容

考虑在ubuntu上面开发，又缺乏一些办公软件的兼容

[2021-09-28 06:21] simon0-o commented on #153
我在windows上也是使用 WSL2 + VSCode 开发的，你说的这两点问题我目前没遇到过。VSCode 和 GoLand 都有 WSL2 扩展，你可以在windows上安装IDE后，通过这些扩展在WSL2上进行开发。不知道能否解决你的问题。

[2021-09-28 09:22] LoveBeforT opened #162 "怎样修改8888端口"
如题，公司开源的版本怎样修改8888端口呢？我本地测试需要跑几个RPC项目。

[2021-09-28 09:34] joway commented on #162
https://github.com/cloudwego/kitex/blob/d0cb2007751d1cd659a5a235b6eb63a1f4b10315/server/option.go#L169

[2021-09-28 09:41] LoveBeforT commented on #162
感谢！

[2021-09-28 13:11] GoGoodStudy commented on #160
好的。团队内部将内容转到了内网Wiki作为内部资料传阅和框架学习培训

[2021-09-28 13:11] #160 closed, assigned to nobody

[2021-09-29 03:03] #162 closed, assigned to nobody

[2021-09-30 03:05] hunterhug commented on #108
May be your company use Thrift due to the history reason, but thrift transport is slow and a lot of company or people not use it, may some old c++ project use it?  据我在多家公司的经历，thrift基本都是老古董项目会使用，然后其他语言也需要互相rpc请求，http网关的要求可以解决混语言的问题，当然你这个项目，只定义为go语言的rpc框架，那么格局就小了。

[2021-09-30 03:10] hunterhug commented on #157
can refer the project of rpcx,  it takes a  plug-in way to implement many choice.  传输协议和编码都可以采用契约式接口解偶，这样可以通过插件化形式来实现。

[2021-09-30 03:24] hunterhug commented on #17
This project seems not to implement the service discover feature, because may they consider use server `Reverse proxy` is enough such use k8s‘s ingress，but not use client `Forward proxy` such use alone etcd, consul or zk.

一般来说，服务注册和发现可以使用服务端发现和客户端发现，如果没有注册中心，那么可以用k8s内置的service发现机制，搭配ingress来食用， 如istio(用的envoy)，Linkerd，Traefik，或者haproxy，nginx的商业版本，kong也是一个选择，这就很复杂了，对一般人来说玩不起来。当然，以前没有k8s的时候，要自己手动配置

[2021-09-30 06:35] YangruiEmma commented on #157
感谢您的建议，kitex的设计就是可以扩展支持其他协议和传输模块的，提供了扩展接口，能力支持是OK的，但我们要评估优先级，也期望有其他开发者参与贡献~

[2021-09-30 06:38] YangruiEmma commented on #156
Thanks, @longlihale, I have updated this issue to mark your TODO ; )

[2021-09-30 06:54] Singularity0909 commented on #17
@hunterhug kitex 中有定义 Registry 和 Resolver 接口，用 consul 或者 etcd 的 go api 都可以很方便做服务注册和发现。

https://www.cloudwego.io/zh/docs/tutorials/framework-exten/registry/

https://www.cloudwego.io/zh/docs/tutorials/framework-exten/discovery/

[2021-09-30 07:15] hunterhug commented on #17
👍

[2021-09-30 11:26] aac3476 commented on #105
same problem, fix after update #91, hope to merge to main branch

[2021-10-04 07:39] WingT commented on #134
我们是想直接在本地调用 rpc，就好像通过 localhost 调一样

[2021-10-05 03:07] YangruiEmma commented on #105
It has been merged and release v0.0.5, you can get it again.

[2021-10-05 03:07] #105 closed, assigned to nobody

[2021-10-05 03:30] YangruiEmma commented on #108
这个问题我回答几点哈，1. 就二进制编码来讲，Thrift 编解码和 Protobuf 性能差不太多，当然不同语言、不同数据结构、不同测试方法测试结果会有差异；2. Pb 相比 Thrift 官方文档更全面，对新用户来说上手 Protobuf 的确会更容易些；3. Kitex 是 golang 框架，目前支持 Thrift 和 Protobuf，Thrift 和 Pb 都是多语言支持的，多语言互通没有问题；4. 因为内部是 Thrift 为主，所以目前应用网关场景仅支持了 Thrift，Protobuf 我们也会考虑支持

[2021-10-08 07:50] #153 closed, assigned to nobody

[2021-10-09 03:41] GuangmingLuo commented on #160
如果你们想要学习CloudWeGo的文档，可以直接访问官方网站（ https://www.cloudwego.io/zh/docs/ ），官网是 CloudWeGo 团队维护的，能保证文档是最新的，没有错误，也能保证较好的阅读体验。

[2021-10-11 05:55] YangruiEmma commented on #155
The initial repository is done, https://github.com/kitex-contrib/registry-zookeeper. After discussion, registry-zookeeper includes the zookeeper implementation of registry and discovery.

[2021-10-12 02:25] lizhemingi commented on #155
Could you please also add a etcd related repo ? @YangruiEmma

[2021-10-15 06:29] ploynomail opened #173 "How to register multiple handles"
我想在一个server run的时候注册多个handle，但是我们看到文档或者代码中有有效的方法，请问我这种想法是不是切合实际。
另外：
关于文档中的server sdk 页面好像有点问题，message引入可能有问题。

[2021-10-15 07:44] YangruiEmma commented on #173
一个 service 可以有多少方法，这里注册多个service的诉求是？
内部针对生成代码较多的case，提供了服务拆分支持，可以支持多个idl service，但是通过生成代码支持的，实际注册的还是一个https://www.cloudwego.io/zh/docs/tutorials/code-gen/combine_service/

[2021-10-15 08:00] ploynomail commented on #173
我们一个项目中的idl 统一维护一个仓库，由不同模块人员维护。  这就不能保证我使用模块的方法都来自一个service，所以发出这个issue，combine_service 可以为每个service生成代码，我不能把每个service代码都集中注册到一个server当中然后run。

[2021-10-16 07:04] YangruiEmma commented on #173
combine_service 可以把多个idl service合并成一个"combine_service"，这个"combine_service"会被注册到server，不知道这样可否解决您的问题呢？
通常来说一个idl service对应到一个服务，您这边一个idl service也会有不同的服务吗？

[2021-10-20 16:16] YangruiEmma commented on #155
Sorry, I missed your message. I will do it tomorrow.

[2021-10-21 08:05] BytedanceRPC commented on #155
@duduainankai  https://github.com/kitex-contrib/registry-etcd is created, welcome to contribute.

[2021-10-23 18:24] L0uisJ0shua commented on #156
Can I get involved in this as well? :)

[2021-10-28 07:59] ploynomail commented on #173
谢谢耐心解答，这个是我们服务管理的问题。

[2021-10-28 07:59] #173 closed, assigned to nobody

[2021-10-29 14:58] baiyutang commented on #115
他们文档是没写清楚。不过我知道两个方式可以跑起来了，晚点整理好给你看

[2021-11-01 16:34] baiyutang commented on #6
Your error is the same to #115
The ducument is updated, please check this >> [选择代码放置位置](https://www.cloudwego.io/zh/docs/getting-started/#%E7%A1%AE%E5%AE%9A%E4%BB%A3%E7%A0%81%E6%94%BE%E7%BD%AE%E4%BD%8D%E7%BD%AE)

[2021-11-01 16:35] baiyutang commented on #6
this issue can be closed. please @GuangmingLuo

[2021-11-05 02:10] songoow opened #192 "Some ideas of improving about router tree"
目前的http的路由前缀树是基于httprouter最早的版本修改而来的，gin 同样是在httprouter的基础上不断迭代， https://github.com/gin-gonic/gin/commits/master/tree.go 从而可以看到，我原本打算基于gin版本pr一版上来，但发现 [fasthttp router](https://github.com/fasthttp/router) 性能同样优异，同时这里有个关于router 的benchmark,https://github.com/smallnest/go-web-framework-benchmark, 不知目前kitex 框架的对应场景是否有必要更新，以及如果要更新的话，更加适合基于那个版本的更新.

[2021-11-05 06:10] nihaibao opened #196 "server端自定义errHandler无效"
在server启动时候，定义errHandler未生效，无法正常输出123431

[code]

[2021-11-09 03:01] gofulljs opened #204 "文档中消息类型的示例如何使用kitex工具生成"
1. 我的创建了echo 工程，在gopath 之外

go mod init echo

2. 使用了一下示例代码

创建 echo.thrift 如下

[code]

3.我使用kitex 去生成代码，但是没成功

命令如下

[code]

4. 报错如下

[code]

[2021-11-09 03:15] lsjbd commented on #204
你使用的两个方法名是一样的，冲突了。

[2021-11-09 03:27] lsjbd commented on #204
不过报错信息有点问题，我们会 fix 下。

[2021-11-09 03:27] #204 closed, assigned to nobody

[2021-11-09 03:32] gofulljs commented on #204
明白了，示例2个写在一起了，我屏蔽了一个，成功生成，但是没有conf文件夹生成

[code]

请问以上文件夹及文件是自己添加吗，还是能通过什么方式去生成

[2021-11-09 03:36] lsjbd commented on #204
加 `-service $服务名字` 就会生成配置文件以及服务端的编译脚本、handler 模板等。

[2021-11-09 03:46] gofulljs commented on #204
我使用文档快速开始中echo 示例也没有生成配置文件，树目录如下

···
.
├── build.sh
├── client
│   └── client.go
├── echo.thrift
├── go.mod
├── go.sum
├── handler.go
├── kitex_gen
│   └── api
│       ├── echo
│       │   ├── client.go
│       │   ├── echo.go
│       │   ├── invoker.go
│       │   └── server.go
│       ├── echo.go
│       ├── k-consts.go
│       └── k-echo.go
├── main.go
└── script
    └── bootstrap.sh
···

[2021-11-09 06:02] lsjbd commented on #204
哦，这部分功能还没开源出来，所以目前并没有用到配置文件。可能是之前的示例有问题，我们会排查一下。

[2021-11-09 07:34] YangruiEmma commented on #204
@gofulljs 请问你看的是哪个示例？

[2021-11-09 15:11] baiyutang commented on #155
I want to support nacos.
Please add a new repo, and  I will keep touch with you.

[2021-11-10 03:34] YangruiEmma commented on #196
又忘回复了，好的，下个版本fix哈

[2021-11-10 03:39] YangruiEmma commented on #192
目前http路由主要是用于thrift泛化调用，kitex本身没支持http请求，http框架会单独开源。但你的建议是合理的，我们会看下，你也可以直接提pr帮助改进哦

[2021-11-10 04:59] songoow commented on #192
好的，我后续再仔细研究看下

[2021-11-10 05:15] lesismal commented on #192
通常 RPC 框架的路由跟 HTTP 路由是不一样的，HTTP 的路由匹配规则为前缀匹配，还有 pattern，对于 http router 组件来说 HTTP 的路由字符串不是精准匹配所以没法直接使用 hash map 命中，而绝大多数 RPC 框架的路由是固定的字符串，一个 hash map 就能命中并且性能更好。
我没有深入了解 @YangruiEmma 大佬说的 kitex 针对 thrift 泛化使用的 HTTP 路由，抛开泛化/非固定的路由场景，改为前缀树会让 RPC 路由性能下降。

[2021-11-11 06:43] YangruiEmma commented on #192
@lesismal 是Kitex支持的泛化调用，解析idl将http或map类型请求做thrift编码

[2021-11-11 07:17] chyroc opened #210 "write gjson raw list to set fail"
**Describe the bug**

write gjson raw data to set fail

data:

[code]

err:
[code]

[2021-11-11 07:19] chyroc commented on #210
to fix this:

![image](https://user-images.githubusercontent.com/15604894/141255150-7f03f98d-7354-47a7-9451-d0e9f0391e06.png)

[2021-11-11 07:20] chyroc commented on #210
or `case descriptor.SET, descriptor.LIST:`

[2021-11-11 07:38] #210 closed, assigned to nobody

[2021-11-17 13:32] songoow opened #218 "can use zap in kitex？"
**Is your feature request related to a problem? Please describe.**
zap  has  good  performance in processing log. now,kitex is using klog which is golang native log.

**Describe the solution you'd like**
if it is suitable, I can try use zap to replace klog in kitex and make  a  pull request.

**Additional context**
 https://github.com/uber-go/zap ， which use sync.Pool  to reuse object , use encode

[2021-11-18 11:40] junbin-yang opened #219 "是否可以支持net.Listener类型的服务启动"
翻了一下只找到func WithServiceAddr(addr net.Addr) Option {} 这个配置监听地址的函数。在我尝试将kitex跟现有项目合并使用时希望能有一个支持设置net.Listener类型的启动方式。

[2021-11-19 09:42] YangruiEmma commented on #218
Replace klog with zap?
For api, Kitex won't depend on any log lib, you can use `WithLogger` to replace log implementation, zap supports printf-style. And it is what we hope users do.
Of course, changing API to promote performance is a good suggestion, but we need to define a new API that can adapt most of the structured log lib, you can give your new log api proposal and we discuss it together. ;

[2021-11-19 09:44] YangruiEmma commented on #219
你好，请问具体的需求场景是什么？

[2021-11-20 06:33] junbin-yang commented on #219
在某些专网环境内，允许使用的端口非常有限。目前想到的方案是使用SO_REUSEPORT的地址重用，

[2021-11-22 02:09] songoow commented on #218
@YangruiEmma ,哈喽, 我重新看了一下kitex 中klog被调用的情况，目前kitex 对klog 主要的调用场景是可能出现Warn，Error 的地方，info级别的信息较少，似乎不存在一些热点函数里频繁调用klog的场景 ，且日志被调用的次数相对较少。针对目前而言，感觉上似乎是没有太大必要引入zap？ 也看了一下其他开源库（etcd,tidb,dubbo-go等）使用zip来进行封装的log 的一些设计，如果重新设计感觉这里会有更多的细节要讨论，也许你们来做这个功能的完善会更加方便一些。同时，如果kitex目前不打算引入zap 的话，我觉得也许可以先用sync.pool 对https://github.com/cloudwego/kitex/blob/develop/pkg/klog/default.go#L119 来进行一个简单优化。; )
[code]

[2021-11-22 03:23] YangruiEmma commented on #218
你好 @liu-song ，谢谢你的提议，klog/default.go其实不是一个建议在线上使用的log实现，klog主要是kitex定义的log api，defaut log用于测试，内部也是有单独的日志库，我们希望使用者通过WithLogger指定其他的log库。可以在 https://github.com/kitex-contrib/ 提供zap的klog扩展实现呀 ：）。

[2021-11-22 04:10] YangruiEmma commented on #219
主要诉求是需要设置 SO_REUSEPORT？

[2021-11-22 05:00] #218 closed, assigned to nobody

[2021-11-22 05:47] junbin-yang commented on #219
是的

[2021-11-22 11:31] YangruiEmma commented on #219
@junbin-yang 开放一个配置支持启用SO_REUSEPORT 你看OK吗？

[2021-11-22 11:50] junbin-yang commented on #219
@YangruiEmma 如果可以那就更方便拉。

[2021-11-23 01:17] dongpoge opened #226 "kitex 在 k8s+istio 架构中，服务间调用会出现 i/o timeout 报错"
反馈一个问题：
测试环境：k8s+istio 架构，服务发现是用原生的istio
系统版本：
k8s:版本：1.20.11
istio版本：1.9.5
docker 19.03

kitex 只做gRPC 框架
部署一个服务，本地开发环境(mac) 客户端和服务端链接正常
部署到测试环境
会不间断的报：timeout 错误，也会有正常请求返回
例如：
no more instances to retry: last error: remote or network error: get connection error: dial tcp 10.98.76.179:8888: i/o timeout
这些错误都是 kitex 框架返回的
看了 istio_proxy 的日志，客户端和服务端其实都有请求记录情况下返回的 i/o timeout错误
开始我以为是环境配置哪里出了问题，研究了一天

[2021-11-23 05:00] YangruiEmma commented on #226
正在飞书沟通跟进

[2021-11-23 06:50] YangruiEmma commented on #226
问题已解决，连接池没有生效，下个版本会优化解决配置地址与解析地址不同导致的连接池未生效问题

[2021-11-23 13:15] YangruiEmma commented on #218
@liu-song 抱歉，这块我描述错了，部分日志是通过制定logger输出，直接通过klog.Info这样输出日志会执行defaultLogger。这块我们内部会沟通做一些调整，你有优化建议可以直接提pr

[2021-11-24 02:30] songoow commented on #218
@YangruiEmma hi,不知道在是否存在理解上的一些偏差，尝试修改了一下。；）

[2021-11-24 02:44] songoow commented on #219
我初步看了一下相关的代码，不知道是否理解正确，kitex 的net.listen 是通过调用netpoll.CreateListener,所以这个SO_REUSEPORT在kitex层面的实现需要先在netpoll 里面先支持是吗，然后kitex 如果需要扩展kcp和quic 这些协议的话也是需要现在netpoll 层面先支持？

[2021-11-25 06:48] YangruiEmma commented on #156
Of course, I have updated this issue to mark your TODO ;).

[2021-11-25 06:54] YangruiEmma commented on #155
Welcome to contribute, I have updated the issue :)

[2021-11-25 11:26] #196 closed, assigned to nobody

[2021-11-26 07:25] YangruiEmma commented on #219
暂时考虑先在Kitex里支持

[2021-11-26 14:59] FwtGit opened #235 "中文文档的一处链接失效"
中文文档第二章：
   详细文档
         高级特性
                  支持泛化调用、Server SDK 化等高级特性，详见_文档_-----此处链接失效

[2021-11-27 06:30] wujc16 commented on #17
Perhaps you can try this, an easy implemention of service registry and service discovery for kitex based on etcd:
https://github.com/kitex-suites/kitex-etcd

[2021-11-30 03:03] GuangmingLuo commented on #235
Thanks, and it's fixed.

[2021-11-30 03:03] #235 closed, assigned to nobody

[2021-11-30 03:38] GuangmingLuo commented on #17
For people who are looking for useful extensions for kitex, please refer to this org: https://github.com/kitex-contrib

Implementations somewhere else are welcome but not recommended.

[2021-12-01 03:13] songoow commented on #155
hi，@YangruiEmma，I want to support polaris .  https://github.com/polarismesh/polaris/issues/163

[2021-12-02 07:56] YangruiEmma commented on #155
Welcome to contribute, I have updated the issue :)

[2021-12-03 09:54] dongpoge commented on #226
大家在使用gRPC协议的时候。NewClient() 记得加上下面参数：
`client.WithTransportProtocol(transport.GRPC)`

[2021-12-07 14:23] yanickxia opened #259 "Kitex Streaming (GRPC) 模式下，destService 让人费解"
**Is your feature request related to a problem? Please describe.**
以 https://github.com/cloudwego/kitex-examples/tree/main/streaming 作为 DEMO 模板，在 istio 中启用 mTLS，会导致无法连接，经排查

[code]

NewClient 中的第一个参数 destService 会被填充至 Authority，而在 istio virtualhost 匹配规则中，只包含了服务名  demo-server 而无 demo 导致无法正确的解析匹配，参考 GRPC 的实现
https://github.com/grpc/grpc-go/blob/master/clientconn.go#L1693

建议将 destService 作为可选参数在 GRP

[2021-12-08 07:52] YangruiEmma commented on #259
谢谢反馈，请问如果destservice用“demo-server”是否还有问题？

[2021-12-08 11:18] #219 closed, assigned to joway

[2021-12-13 12:46] lsjbd opened #277 "proposal: add API to support using RPCInfo in an isolated goroutine"
**Is your feature request related to a problem? Please describe.**

The RPCInfo created by the framework in the context will be recycled after an RPC call finished. When implementing a handler method, the goroutine started by the user can not access the RPCInfo if it may live longer than the handler method becase that will cause data-race.

**Describe the solution you'd like**

A trivial approach

[2021-12-13 13:54] GoGoGoDoge opened #279 "should have deprecated better"
**Describe the bug**
please dont deprecated in runtime but deprecated in compile time

// WithLogger sets the Logger for kitex server.
// Deprecated: server uses the global klog.DefaultLogger.
func WithLogger(logger klog.FormatLogger) Option {
	panic("server.WithLogger is deprecated")
}

**version**
0.1.0

[2021-12-13 16:20] YangruiEmma commented on #219
@junbin-yang v1.7.0已提供WithResuePort option

[2021-12-14 03:12] lsjbd commented on #279
Can you please describe how to make it deprecated in compile time while not breaking the common compilation?

[2021-12-14 04:06] YangruiEmma commented on #259
@yanickxia 确认下service name保持一致是否还有问题

[2021-12-14 07:41] joway commented on #277
I think there is another alternatives solution:

[code]

[code]

The benefit of this solution is that event we use rpcInfo asynchronously, there is no performance loss when we unfreeze it.

[2021-12-22 12:33] GoGoGoDoge commented on #279
Just break compilation :-) better than panic people in production.
I believe your downstream app should have controlled version well by go.mod

[2021-12-28 03:30] lsjbd commented on #279
OK. That sounds reasonable. We will consider deleting the API or modify it to an incompatible form in the future.

[2021-12-28 03:30] #279 closed, assigned to nobody

[2022-01-02 14:43] 6yi opened #307 "中间件没办法捕获业务handler的panic"
看了一下handler的panic会被框架给直接处理，中间件是没办法捕获到这个panic的，这样的设计感觉不太合理，框架捕获panic不是应该放到最外层么

[2022-01-02 14:53] 6yi commented on #307
而且中间件要是panic了直接没地方接住

[2022-01-03 08:13] #307 closed, assigned to nobody

[2022-01-04 03:26] ztinpn commented on #226
请问下个版本预计啥时候发布？

[2022-01-04 03:29] ztinpn opened #308 "版本v0.0.8中，WithHostPorts配置域名时连接池失效问题"
![image](https://user-images.githubusercontent.com/8993568/148005759-51a40fb3-b292-4328-8b57-ca6b543e55d4.png)
如图。

请确认和修复。

[2022-01-04 03:36] YangruiEmma commented on #308
请问使用的哪个版本？

[2022-01-04 03:38] ztinpn commented on #308
0.0.8，最新版一样的，我看源码逻辑一样。。可能和https://github.com/cloudwego/kitex/issues/226 一样的问题？ @YangruiEmma

[2022-01-04 03:39] ztinpn commented on #308
等下，我确认下啊 @YangruiEmma

[2022-01-04 03:53] ztinpn commented on #308
最新版恰好修复了 @YangruiEmma
![image](https://user-images.githubusercontent.com/8993568/148007427-f8f08a16-7b89-4055-a898-e876a8f7b541.png)

[2022-01-04 04:19] YangruiEmma commented on #308
OK，最新的版本验证过没有问题了吧？

[2022-01-04 04:24] YangruiEmma commented on #226
已发版，建议使用>=v0.1.3版本

[2022-01-04 04:25] #226 closed, assigned to nobody

[2022-01-04 08:58] ztinpn commented on #308
没问题

[2022-01-04 09:07] #308 closed, assigned to nobody

[2022-01-05 09:28] #6 closed, assigned to nobody

[2022-01-05 09:28] GuangmingLuo commented on #115
Problem solved, this issue will be closed.

[2022-01-05 09:29] #115 closed, assigned to nobody

[2022-01-05 09:31] GuangmingLuo commented on #8
No reply since July, this issue will be closed.

[2022-01-05 09:31] #8 closed, assigned to nobody

[2022-01-05 09:39] GuangmingLuo commented on #156
@L0uisJ0shua you may involve this issue by reviewing this pr: https://github.com/cloudwego/kitex-examples/pull/20

Looking forward to your contribution.

[2022-01-05 10:45] L0uisJ0shua commented on #156
Got it! Sorry been busy with other matters as well!:) Will take a look over the next few days!:)

[2022-01-05 11:51] finleylabs opened #311 "How can I serve different http uri with one service when using generic call in http mode ?"
I'm developing a gateway service, and my backend service is based on kitex. Generic call seems quite easy for this. But I have some confusions. Here's some details :

The gateway have two different uris

1)  /gateway/api/resource/v1
2)  /gateway/api/resource/v2

And both of them will call the same service, like

1)  fooResp FooService(1: fooRequest req)

But I can't find any guidance for this purp

[2022-01-06 15:30] L0uisJ0shua commented on #156
I have submitted my review! I have also run the example and it seems to work as intended. A quick look through the codebase and it feels safe and well-coded in general. Do let me know if you have any feedbacks on my reviews as well so that I can learn too.

[2022-01-10 08:41] lsjbd commented on #26
@Abioy This PR [#207](https://github.com/cloudwego/kitex/pull/207) introduced a goroutine pool for the RPC timeout middleware to reduce the overhead of stack growth during the RPC call. See if it solves your problem?

[2022-01-10 10:05] lsjbd commented on #277
@joway Adding a `freezed` flag to prevent the recycling of RPCInfo but not actually making it read-only is not enough. If the RPCInfo is used outside the handler, tracers that modify it at the end of the RPC call will still cause unpredictable behavior in the isolate goroutine.

[2022-01-10 12:09] ghost opened #313 "kitex client 如何设置 serviceName"
- 使用 `gin` + `kitex` 开发,如何在 `client` 处设置 `serviceName` ?
- `kitex` 默认传递的元信息有哪些呢 ？

[2022-01-11 03:24] ppzqh commented on #313
1. client 初始化的 serviceName 与 idl 内定义的 Service 名一致
2. 默认传递的元信息请见 pkg/transmeta 内的文件

[2022-01-11 03:26] ghost commented on #313
感谢

[2022-01-11 03:42] YangruiEmma commented on #313
1. client设置应用service name，通过 client.WithClientBasicInfo option
   另外，idl 的service name与应用的service name并不是完全对应的，取决于内部服务体系的微服务定义
2. 传递元信息需要使用ttheader或grpc才具备这个能力，目前透传的如上述回答 pkg/transmeta

[2022-01-11 07:31] lsjbd opened #314 "methods of an extended service are not accessible in generic calls"
**Describe the bug**
When using the inherence mechanism in thrift IDL. The methods of a base service extended by another one are not available in the latter when using generic calls.

**Expected behavior**
All methods of extended services are accessible.

[2022-01-13 16:26] #313 closed, assigned to nobody

[2022-01-19 12:39] f20500909 commented on #311
If I were you, I will do like that:

1.  api_v1:
uri:       `/gateway/api/resource/v1`
service:` fooResp FooService_V1(1: fooRequest req)`
code:
[code]

2.  api_v2:
uri:       `/gateway/api/resource/v2`
service:` fooResp FooService_V2(1: fooRequest req)`
code:
[code]

------
That's what my last company did.

[2022-01-20 13:19] ztinpn opened #327 "kitex v0.1.3 的多路复用模式在k8s滚动升级情况下报错"
1. 上游qt-http、下游kline，均为mux模式。
2. 上游的dnsresolver的刷新时间改为1s，且加了日志。
3. 下游的退出信号处理，收到sigterm之后特意sleep了10s，怕服务端发现连接空闲关闭了，此时tcp关闭还没到客户端，客户端就发起了请求，导致的报错。。用来排除这个edge case

实验结果如图：
![NNeAjkQ7E9](https://user-images.githubusercontent.com/8993568/150344997-e96ff7fd-cf06-49bd-bc40-79a225a6c8ae.png)

原因推测：看代码里，只要移除了ip，就会执行clean方法，于是关闭连接。。那可能出现以下这个问题：
1. 客户端从mux池里取出conn1
2. dns更新，移除了ip，clean方法干掉了conn1
3. 客户端用conn

[2022-01-21 03:01] Hchenn commented on #327
感谢，我们在 #326 支持了 mux 的优雅退出能力

[2022-01-21 03:02] #327 closed, assigned to nobody

[2022-01-29 03:31] lsjbd opened #333 "Should export getCommonReporter for third-party connection pool implementations"
**Is your feature request related to a problem? Please describe.**

The connection pool implementations shipped with kitex use an internal method `connpool.getCommonReporter` to get the global reporter. But any third-party implementation is not allowed to do that and thus can not do connection pool metrics.

**Describe the solution you'd like**

Export the `connpool.getCommonReporter`.

[2022-02-08 03:12] qinggniq opened #335 "tldr manual for kitex"
[TLDR](https://github.com/tldr-pages/tldr) is a very popular community-maintained help pages for command-line tools, that aims to be a simpler, more approachable complement to traditional [man pages](https://en.wikipedia.org/wiki/Man_page).

It's awesome to add a page for kitex.

[2022-02-12 16:20] baiyutang commented on #335
What about this?
If ok, I will PR.
[kitex](https://github.com/baiyutang/tldr/blob/main/pages/common/kitex.md)

![image](https://user-images.githubusercontent.com/10782183/153719222-c854b9ff-45a4-4bb2-939b-779be628848e.png)

[2022-02-15 08:24] #314 closed, assigned to lsjbd

[2022-02-15 08:24] #277 closed, assigned to lsjbd

[2022-02-15 18:48] YangruiEmma commented on #277
This proposal can resolve the problem that is led by users using `RPCInfo` asynchronously, but the problem still exists if users call `rpcinfo.FreezeRPCInfo` asynchronously.  I suggest supplementing an example as comment for  `rpcinfo.FreezeRPCInfo` func.

[2022-02-16 05:36] f20500909 opened #347 "Question：关于consist.go 中TODO的疑问：改用红黑树的目的是什么？"
https://github.com/cloudwego/kitex/blob/7ad71f4d7164f9793b02ad9cfd7a95887dae43c8/pkg/loadbalance/consist.go#L484

这里的TODO有提到用红黑树来实现，想问下是计划用红黑树替换那个变量，打算怎么做？
是计划将cachedConsistResult 从sync.Map的hash替换为红黑树，以时间作为key构建一颗红黑树，updateConsistInfo进行遍历时，找到首个不过期的元素，这样就不用遍历全量数据了吗？
![image](https://user-images.githubusercontent.com/33808231/154200944-8f2dc168-7de1-4ae2-b8f1-25e1bd887f5a.png)

![image](https://user

[2022-02-16 05:36] f20500909 commented on #347
或许可以考虑用heap+hash的方式来实现，这样也可以达到Rebalance时不需要遍历全量数据的作用。
heap堆顶为最旧数据，Rebalance时优先判定堆顶是否过期，堆顶过期则从heap和hash中移除数据，直到堆顶在ExpireDuration内。
如果觉得可行的话我可以贡献具体的实现代码。

[2022-02-16 06:14] PureWhiteWu commented on #347
这里的更新主要不是判断是否过期的，而是当节点实例变动的时候需要 rebalance。
现在的实现是，每次变动的时候需要全量 rebuild，属于离线操作，成本较高（主要是**没有变动**的实例相当于被重复计算了）；
如果使用红黑树，那么可以直接执行在线的变更，性能会好一些。

[2022-02-17 09:26] dongzeXD opened #348 "refactor question about internal Option type"
**Can we abstract `internal/client.Option`&`internal/server.Option` as an interface?**
Like `type ServerOption interface`  or `type ClientOption interface`, it's looks like easier to maintain.

**The function signature of the `Option.F` is more like for `server.WithSuite` compatibility**
Should we change this function signature to `F func(o *Options)`?

**Code**
[code]

[2022-02-17 13:02] dongzeXD commented on #348
If possible, I would like to pr

[2022-02-17 13:16] dongzeXD opened #349 "Is this an extra atomic operation?"
In `pkg/event/queue.go:69-70`,atomic operation in a locked state and no read and write simultaneously.
If possible, I would like to pr.

[2022-02-17 13:33] YangruiEmma commented on #349
read in dump func, it could happen simultaneously.

[2022-02-17 14:06] dongzeXD commented on #349
The dump func acquire RWMutex at begin，and i did benchmark push and dupm simultaneously with -race build

[2022-02-17 14:09] dongzeXD commented on #349
**Code**
[code]

[2022-02-18 13:08] f20500909 commented on #347
我确认一下，想用红黑树是因为不想在rebalance时执行newConsistInfo函数，因为这样会重新生成所有的虚拟节点，开销比较大。
而是想动态变更info.virtualNodes中的内容，实例增加时动态增加虚拟节点，实例减少时动态减少虚拟节点。我理解没错吧？

![image](https://user-images.githubusercontent.com/33808231/154687352-f28c1a14-7511-4a93-9e3b-763805cc9270.png)

也就是想将这里的virtualNodes 的数据结构从数组换成红黑树？
![image](https://user-images.githubusercontent.com/33808231/154687629-530c89da-34da-43b2-bea3-b0c610a9c182.png)

@P

[2022-02-18 13:27] f20500909 commented on #347
如果我上述理解没错的话，用跳表是不是比用红黑树好一点？
这里涉及到replicas的选取，会进行范围查找，用红黑树每次取一个replica都要查一次红黑树，用跳表的话只需要往后遍历就能找到所有replicas。

感觉可行的话，我可以PR代码。

![image](https://user-images.githubusercontent.com/33808231/154689584-c5fec51e-0ceb-4ad4-b613-c59daa05c935.png)

[2022-02-21 08:51] dongzeXD opened #353 "Concurrent problems in Hooks"
Public func RegisterStartHook and RegisterShutdownHook will be used concurrently by users and `type Hooks []func()` is not a concurrency-safe object.
If I could, I would pr = =。

[2022-02-21 11:59] dongzeXD commented on #353
In server package(server/hooks.go)，`RegisterShutdownHook` write the `Hooks` global variables and `server.Run`(server/hooks.go:191) func read `Hooks`  global variables.

[2022-02-23 12:00] dongzeXD opened #360 "Lack of timeout mechanism for service exit process."
In the server/server.go:201, some of the methods provided by user are executed but no timeout control applied.
This may cause the program to fail to exit properly include `Deregister`.
If refinement is required, what style should be used for this?
I would like to pr if possible.

[2022-02-25 06:23] lsjbd commented on #360
Would you please provide a specific example to demonstrate the issue?

[2022-02-28 01:53] dongzeXD commented on #360
[code]

[2022-02-28 08:00] lsjbd commented on #360
If you just want to do some clean-up after the main loop exit, you can simply place that code in the main.go after `svr.Run()`. And, of course, a defer statement is OK, too.

[2022-02-28 09:29] lsjbd opened #365 "proposal: add APIs to client to support warming-up"
## Motivation

**Is your feature request related to a problem? Please describe.**

Kitex client's service discovery is triggered by the first request and may be blocked if this process takes a long time. The latency is thus unpredictable for initial requests. The load balancer and connection pool are facing the same problem, too.

**Describe the solution you'd like**

If the client can fetch servi

[2022-03-01 07:59] dongzeXD commented on #360
Thank for your replay.
Can you recommend any application scenarios for `Hooks`?

[2022-03-02 03:39] Anthony-Dong opened #368 "HTTP Route Parsing Panic (http 路由解析panic)"
**Describe the bug**
目前解析idl会遇到http路由定义冲突的问题，我们不太想要panic，可以忽略解析或者skip掉这个异常
例如
[code]
上诉case会再解析idl时panic
[code]

我理解应该是个bug，在[gin](https://github.com/gin-gonic/gin)或者[httprouter](https://github.com/julienschmidt/httprouter)里面是允许这么定义的！

或者kitex 在这块有明确的规范也可以！

版本:
 - github.com/cloudwego/kitex v0.2.0
 - go version go1.17 darwin/amd64

**To Reproduce**

**Expected behavior**
我希望可以支持这种路由

**Screenshot

[2022-03-02 08:05] lsjbd commented on #368
嗯。其实泛化调用的 API 注解是有一套规范的，不过目前还没整理成文档出来对外开放。

你遇到的情况确实改为忽略或者警告会比较好，我们后面修复一下。

[2022-03-03 01:43] YangruiEmma commented on #360
Hi, @dongzeXD.

- ShutdownHook: the func you registered will be executed after receiving the exit signal but before deregister and the server stops.
- Code after svr.Run(): will be executed after the server stops.

So if you want your logic to be executed before the server exit actually, use ShutdownHook. Or if you just want to do something after the server exit, you can place the code after svr.R

[2022-03-03 01:55] YangruiEmma commented on #360
I am not actually sure about your need. Do you mean the timeout mechanism cannot be effective for ShutdownHooks? Yes, it is now, you can set ExitWaitTime but it only is effective when do underlying layer exit. So if your hook executes long time it may lead the process cannot be exited, for this case, you can choose to place code after svr.Run() or add timeout in your hook.

[2022-03-03 02:12] YangruiEmma commented on #368
近两周我们review完http泛化idl规范文档后发出，后面我在这里同步

[2022-03-05 11:37] #347 closed, assigned to nobody

[2022-03-07 08:17] #360 closed, assigned to nobody

[2022-03-07 13:15] GuangmingLuo commented on #155
All six tasks are done by now, this issue is closed.

[2022-03-07 13:15] #155 closed, assigned to lizhemingi, baiyutang, horizonzy, songoow

[2022-03-08 02:08] baiyutang commented on #335
kitex command introduce has merged.

[2022-03-13 09:52] 17hao opened #370 "What is the real meaning of -service option?"
As `kitex -help` shows, `-service`  specify the service name to generate server side codes. But after I followed the [tutorial](https://www.cloudwego.io/docs/kitex/getting-started/#generate-echo-service-code) step by step, `-service` doesn't work. The generated service name is always the same as service name defined in thrift IDL file.

I debug kitex in local, the program arguments:
![image](https

[2022-03-14 06:16] nova-liu opened #371 "是否能够禁用kerror?"
When I return a grpc/status.error type on the server.The client can only resolve to kerror and my own error type disappears.

[2022-03-14 07:22] lsjbd commented on #371
The kerrors package follows the conventions for error handling introduced in go.1.13. You can use `errors.Is`, `errors.As`, `errors.Unwrap` and other APIs provided by the standard library to detect and retrieve your own error type.

[2022-03-14 08:57] nova-liu commented on #371
when i use errors.Unwrap , i got a github.com/cloudwego/kitex@v0.2.0/pkg/remote/codec/protobuf/ErrorProto。 not my own error type.

[2022-03-14 13:30] YangruiEmma opened #372 "Request help: Supplementary of Unit Tests"
**Issue Description**
Write Unit Tests for some modules of Kitex, we mainly focus on **Statement Coverage**. The packages are shown below, you can choose and reply by comment.
Before you pick the task, please comply with the following requirements:
- The Unit Test you add must be meaningful.
  - It is used to verify the correctness of code logic.
  - It is forbidden to add a test only for the purp

[2022-03-14 14:39] HeyJavaBean commented on #372
Hi, I want to choose module "kitex/pkg/remote/trans/nhttp2" 🙌🏻

[2022-03-14 16:31] YangruiEmma commented on #17
Thanks to the community developers, now we have multiple choices for registry and discovery, related issue is https://github.com/cloudwego/kitex/issues/155.
You can choose Zookeeper, Consul, Etcd, Nacos, Polaris, Eureka, maybe more in the future.

[2022-03-14 16:31] #17 closed, assigned to nobody

[2022-03-14 16:34] #55 closed, assigned to nobody

[2022-03-14 16:41] YangruiEmma commented on #371
`proto error `means the error is returned from the server-side, the client cannot know what kind of error type you define at the server-side. Except that you use API which Kitex provides to build errors,  it is like https://github.com/cloudwego/kitex/discussions/248#discussioncomment-1836770, but it is not done now.

[2022-03-14 16:59] YangruiEmma commented on #370
what is 'generated service name' you mean?
the service name that `-service` specify is not equal to RPC service name, you can understand it as an Application name.
So `-service` has two effects:
- Identify to generate code of server-side
- Used in the shell scripts

[2022-03-15 02:52] li-jin-gou commented on #372
Hi, I want to choose module " kitex/client" 🙌🏻

[2022-03-15 02:56] YangruiEmma commented on #372
Thank you, @li-jin-gou and @HeyJavaBean ! I have updated this issue to mark your TODO.

[2022-03-15 06:23] bodhisatan commented on #372
Hi, I want to choose module "kitex/pkg/utils" 🙌🏻

[2022-03-15 06:25] JZK-Keven commented on #372
Hi, I want to choose module "kitex/pkg/retry" 🙌🏻

[2022-03-15 06:45] debug-LiXiwen commented on #372
Hi, I want to choose module "kitex/pkg/remote/trans/netpollmux" 🙌🏻

[2022-03-15 07:07] baiyutang commented on #372
`kitex/server`
🙌🏻

[2022-03-15 07:13] GuangmingLuo commented on #372
Claim one task at a time please, you may claim another one when you finish the previous one. @baiyutang

[2022-03-16 03:08] dongzeXD commented on #372
Hi, I want to choose module "kitex/pkg/klog" 🙌🏻

[2022-03-18 11:25] #353 closed, assigned to nobody

[2022-03-22 03:01] ag9920 commented on #372
Hi, I want to choose module "kitex/pkg/transmeta"

[2022-03-22 09:40] dongpoge commented on #63
森马电商是一家高速发展的电商公司，公司每年有百亿的订单销售量
当遇到订单量暴增，如何保证系统能稳定运行，需要一个稳定、高性能的系统来支撑；
我们接收订单的系统是用go 开发的一套微服务系统，在众多 微服务框架中，如：grpc,kratos,kitex等
我们选择了kitex，因为具有相对于其他框架，具有高性能，高可靠，有强大的技术团队支持这些优势。

Organization/Company: 浙江森马电子商务有限公司
Website: https://www.semir.com/
Country: 中国（China）
Contact: liangdongpo@ecsemir.com
Usage scenario: 基于kitex的微服务系统
Status: 生产环境 (Production)

[2022-03-23 06:31] EddieChan1993 opened #380 "klog如何实现按日志级别分别输出到不同文件？"

[2022-03-23 06:33] EddieChan1993 opened #381 "klog如何才能在服务进程保持的状态实时写入到文件？"
目前使用过程中，klog的日志输出内容只有在服务关闭的时候才会被写入到文件中。如何才能在服务运行过程中，实时或者异步的写入到文件呢？

[2022-03-24 07:24] jayantxie opened #384 "Fill some necessary fields for rpcInfo."
**Describe the bug**
In current code version, rpcInfo lacks `Invocation().PackageName`, `Invocation().ServiceName` and `Config().TransportProtocol` fields after decoding by defaultCodec. So we need to patch some codes to fill them.

在当前版本的代码中，由defaultCodec解码得到的rpcinfo中缺失 `Invocation().PackageName`, `Invocation().ServiceName` and `Config().TransportProtocol` 字段，需要修改代码填充上。

[2022-03-25 07:08] joway opened #390 "Proposal: implement FrameWrite interface to grpc buffer to reduce memory copy"
# Problem

For gRPC(or other protocols that have the `frame` concept), the frame format is like: `header(5 bytes) + data(N bytes)`. But the gRPC codec only allow [marshal message into a single data buffer slice](https://github.com/cloudwego/kitex/blob/9cbc511586/pkg/remote/codec/protobuf/grpc.go#L63-L95), if we want to write a full-frame packet into the output buffer, we need to do like this:

[co

[2022-03-28 03:53] Midugo commented on #372
Hi, I want to choose module "kitex/pkg/remote/bound"

[2022-03-29 03:30] #371 closed, assigned to nobody

[2022-03-29 03:33] #349 closed, assigned to nobody

[2022-03-29 07:29] EddieChan1993 commented on #380
感谢

[2022-03-30 05:49] #380 closed, assigned to nobody

[2022-03-30 06:56] YangruiEmma commented on #372
fine, I have updated, Thanks again @Midugo

[2022-04-03 05:34] LoveScotty commented on #372
Hi,I want to choose module “ kitex/pkg/generic”

[2022-04-03 15:10] bodhisatan commented on #156
hi, i would like to write an e-commerce demo using my work experience in ecom-middleplatform :) @YangruiEmma

[2022-04-04 01:58] YangruiEmma commented on #156
Thanks @bodhisatan , I have updated the issue ;)

[2022-04-11 04:52] succulentxb commented on #63
SHIHETECH 是一家专注金融交易工具的公司
交易场景需要一套高可靠、低时延的系统支持，我们选择了Kitex

Organization/Company: SHIHETECH
Website: http://www.shihe-tech.cn/
Country: China
Contact: sr@shihe.tech
Usage scenario: Using Kitex to build HA trade tools and systems
Status: Production

[2022-04-12 02:30] GuangmingLuo commented on #372
@HeyJavaBean @li-jin-gou @Jacob953 @mxdblcf @ag9920 hi guys, please submit PR as soon as possible, otherwise the tasks may be invalid.

[2022-04-12 03:34] #333 closed, assigned to YangruiEmma, SinnerA

[2022-04-12 07:35] #384 closed, assigned to nobody

[2022-04-12 16:58] baiyutang commented on #335
@qinggniq here is >> https://github.com/tldr-pages/tldr/pull/7782

this PR can be closed. @lsjbd

[2022-04-14 05:49] bodhisatan opened #405 "Can KiteX client support global middleware"
**Is your feature request related to a problem? Please describe.**
According to [doc](https://www.cloudwego.io/zh/docs/kitex/tutorials/framework-exten/middleware/), when I want to do something before all clients making a RPC calling, I have to write several middlewares for each client. So can KiteX client support global middleware, or if it won't be supported, why?

**Describe the solution you'd l

[2022-04-15 03:09] #390 closed, assigned to nobody

[2022-04-18 08:30] dierbei opened #409 "客户端调用传递Context的值在服务端就没有了"
[code]
传递的Test不见了。
![image](https://user-images.githubusercontent.com/52097565/163780686-aa4f560b-f78e-4028-918b-6b9699223825.png)

[2022-04-18 08:33] lsjbd commented on #409
没有才是正常的。认为在标准库的 `context.Context` 里添加任意对象就能传递到下游的想法是错误的。
如果要传递 IDL 外定义的数据，可以参考：https://www.cloudwego.io/zh/docs/kitex/tutorials/advanced-feature/metainfo/

[2022-04-18 08:33] #409 closed, assigned to nobody

[2022-04-18 08:35] dierbei opened #410 "客户端Context中的值不见了"
[code]
ctx中传递的Test不见了，请问如何解决？
![image](https://user-images.githubusercontent.com/52097565/163781453-daf71728-d7e9-4b79-87dd-54890deb60e9.png)

[2022-04-18 08:43] lsjbd commented on #410
见 #409 的回复。请勿反复提重复的 issue。

[2022-04-18 08:51] dierbei commented on #409
请问metainfo能传递对象吗？我看了一下文档可以传递字符串

[2022-04-18 08:57] #410 closed, assigned to nobody

[2022-04-18 10:54] jayantxie opened #411 "Bug report: NetpollMux didn't set PayloadCodec, lead to generic request codec error."
**Describe the bug**
NetpollMux didn't set PayloadCodec, lead to generic request codec error.

**To Reproduce**
To reproduce the bug, follow the steps below:
1. Download codes in this repo:
(https://github.com/cloudwego/kitex-examples/blob/2d1d3f03f2c1898022e4cdbbbc32b319c620161d/generic/client/map/main.go#L39)
3. Patch Line39:
[code]
4. Start server and then start client, you will see error like:

[2022-04-18 10:55] soladxy opened #412 "metainfo传值问题"
client中使用了如下的代码
[code]
[code]
rpc server mw代码，中间件无法获取到上游gin服务中的PersistentValue
[code]
编码使用thrift，传输协议未修改，请问一下数据没有传到下游是因为context的问题还是有什么其他的配置，

[2022-04-18 12:08] lsjbd commented on #412
客户端默认的协议不支持传递元信息。你需要增加一个 option：

[code]

[2022-04-18 15:55] #411 closed, assigned to nobody

[2022-04-19 04:20] #412 closed, assigned to nobody

[2022-04-21 07:18] jayantxie opened #421 "Integrate Polaris go sdk to support their service governance ability."
为方便Kitex用户上云，计划对接腾讯的开源服务治理平台Polaris，通过集成[go sdk](https://github.com/polarismesh/polaris-go/tree/main/examples/quickstart)，满足诸如服务注册发现、熔断限流和动态路由等Polaris平台的治理能力。目前已实现的功能有服务的注册发现，contrib仓库链接 -> [registry-polaris](https://github.com/kitex-contrib/registry-polaris)。

分点描述各部分能力与Kitex集成的方案：

1. 熔断降级：
Polaris对熔断的实现是请求结束后，调用consumer接口上报单实例请求结果，再在选择实例时剔除故障实例，参考[使用故障熔断](https://polarismesh.cn/zh/doc/%E4%BD%BF

[2022-04-24 10:30] #365 closed, assigned to YangruiEmma

[2022-04-25 10:21] jayantxie commented on #421
另外，Polaris没有接入重试机制，可以在contrib仓库中提供基本的重试策略方便用户配置。

[2022-04-25 10:36] joway opened #427 "bug: flush error cause memory leak"
**Describe the bug**

Now, if the `netpoll.Connection.Flush` method returns an error, the Kitex server OnRead handler will not close the connection, and the client will wait for the response until reaches timeout. If the client has no timeout limit, it could cause the connections increases and memory leak.

[2022-04-25 11:59] YangruiEmma commented on #421
限流不建议通过mw添加，可以扩展limiter接口

[2022-04-27 03:16] #427 closed, assigned to nobody

[2022-04-27 04:00] jayantxie opened #430 "Support customization of limiter implementation and fix the problem of mux server limiter."
## Is your feature request related to a problem? Please describe.
### Support customization of limiter implementation
Now the server limiter can only be created by `Limits` options, which specify `MaxConnections` and `MaxQPS`.
https://github.com/cloudwego/kitex/blob/b889d3c7dff344dfd71868f19e090618e2a70eb4/pkg/limit/limit.go#L25
But customized limiter implementation is necessary for outside extent

[2022-04-28 03:36] zfceer opened #433 "service panic when the request json request body is invalid"
**Describe the bug**
if the json request body is invalid, service will panic

want some way complained amicably

ex. req
[code]
coz "5678" is string, service panic and the log looks like that:

KITEX panic, err = interface conversion  interface{} is string, not json.Number

related file:
kitex/pkg/generic/thrift.writeJSONNumber()

[2022-04-29 02:45] chuntaojun commented on #430
限流的话，北极星是支持按照请求标签进行限流的，这里的话，如果只是按照 l.qpsLimit.Acquire() 的话，可能还不太够

[2022-05-04 03:57] andrewshan commented on #421
其他都没有太大问题，路由和负载均衡这部分，我建议通过以下思路进行对接：
当前GO SDK的接口都是一体化接口，并没有像Java那样做拆分，所以和框架对接存在一定的问题，需要调用内部接口才可以解耦。
因此，北极星GO SDK也打算提供RouterAPI，用于和框架对接，计划提供2个接口：https://github.com/polarismesh/polaris-go/issues/52

这2个接口，北极星这边会开发，五一后会提供

[2022-05-04 13:40] jayantxie commented on #430
@chuntaojun 感谢，已重新修改接口实现，在Limiter扩展中提供了Kitex请求参数。

[2022-05-05 08:06] andrewshan commented on #421
@jayantxie 按照你的新实现，使用哪些接口呢？

[2022-05-05 08:08] jayantxie commented on #421
@andrewshan 需要用到ProcessRouters和ProcessLoadBalance

[2022-05-07 11:03] jayantxie commented on #433
Thanks for your feedback. The reason for this panic is that when the framework encodes a list or map, we default each element to the same type. However, in the above scenario, there will be problems.
We'll raise a PR to fix it, also PR welcome if you have a fix.

[2022-05-08 09:10] daidai21 commented on #433
I try to fix and PR it later.

[2022-05-08 15:50] daidai21 commented on #433
Hi,

https://github.com/daidai21/kitex_issue_433

server recivered data:

![image](https://user-images.githubusercontent.com/36124626/167303899-3304c0d0-b92e-4399-b98b-232b883afa12.png)

req body like your example:

![image](https://user-images.githubusercontent.com/36124626/167304102-7a9518e5-d9dc-4cd1-9931-15a87cad441c.png)

server not panic, It's just that no exception JSON was received.

can y

[2022-05-09 03:21] jayantxie commented on #433
@daidai21 It seems that the user_ids field is not defined in your idl file.

[2022-05-09 06:51] jayantxie opened #444 "Two race problems"
**Describe the bug**
1. 重试calltimes的race 问题
![image](https://user-images.githubusercontent.com/24311963/167355461-a90e0e7d-4e03-4531-91b3-8fded2edba97.png)

2.Rpcstats 在发生超时时的race问题，超时后读 size，但消息返回后依然解码设置size
![image](https://user-images.githubusercontent.com/24311963/167355590-67ab70a6-613f-4aec-9c6c-c5cafbea89ba.png)

[2022-05-10 02:51] CoderPoet opened #447 "Hope kitex is compatible with arm architecture"
**Is your feature request related to a problem? Please describe.**
The consistent hash algorithm of Kitex's load balancing module uses the assembly implementation of the hash function, which is incompatible with the arm architecture instruction set.

<img width="716" alt="image" src="https://user-images.githubusercontent.com/19374680/167532811-ee6f48b8-19f9-43ea-bdf7-a75b2aeac0da.png">

**Describe

[2022-05-10 03:32] YangruiEmma commented on #447
Thanks for the feedback, v1.9.0 uses xxhash3 involve this problem, github.com/bytedance/gopkg/util/xxhash3 has supported arm now ,`go get github.com/bytedance/gopkg@develop` can fix ix. Kitex will upgrade it in the next version

[2022-05-10 03:35] #381 closed, assigned to nobody

[2022-05-11 09:13] #444 closed, assigned to nobody

[2022-05-17 13:43] jayantxie opened #455 "Integrate opensergo sdk to report service metadata to dashboard."
为更好地融入基于Opensergo云原生服务治理规范的微服务体系，计划对接opensergo go sdk上报服务元信息。以下是拆解后的接入步骤：

1. 扩展server的接口，增加GetServiceInfo的接口；
2. 在contrib仓库中使用StartHook注册启动回调，在回调中启动goroutine定时调用server的GetServiceInfo接口取服务元信息并上报；
3. 大部分opensergo需要的信息都在目前已有的serviceInfo里包含，除了监听地址和服务支持的协议这两个信息。因此需要在kitex启动的过程中额外添加这两个信息。

[2022-05-18 12:41] harleyxu-xhl opened #459 "wsl2 上运行示例代码 kitex-examples报错"
clone下来kitex-examples项目后，按照步骤修改hello目录下的hello.thrift文件，然后调用命令
kitex -module "github.com/cloudwego/kitex-examples" -service a.b.c hello.thrift
然后就会报错
![2022-05-18_201823](https://user-images.githubusercontent.com/68954347/169041016-579b6430-ee6d-4feb-9188-3a6731d0a234.png)

[2022-05-18 12:57] lsjbd commented on #459
你按照什么步骤，做了什么修改？从报错结果来看，是 IDL 里的字符串字面量写得有问题。

按照语法规范检查一下：https://github.com/cloudwego/thriftgo/blob/main/docs/string-literals-in-the-IDL.md

[2022-05-18 14:06] harleyxu-xhl commented on #459
运行的是示例代码kitex-examples，在wsl上的ubuntu运行是失败的。
我重新在真正的linux系统上运行相同的命令就成功了。
是wsl的问题

[2022-05-19 03:23] daidai21 opened #460 "Feature: support async call?"
like Dubbo async call.

https://dubbo.apache.org/zh/docs/advanced/async-call/

[2022-05-19 06:04] jayantxie commented on #460
I don't think the cost of creating a goroutine to implement async logic is high, so we won't support at this time.

[2022-05-20 03:40] CoderPoet opened #461 "Proposal: Kitex support xDS Protocol"
# 背景
希望 Kitex 能够原生支持 xDS 协议 ，让 Kitex 服务能够以 Proxyless 的模式被服务网格统一纳管，从而丰富网格数据面部署架构形态，让用户可以在不同场景下有更多更适合特定场景的部署形态选择

# 目标
- 完成 Kitex 对接 xDS 之后整体架构形态设计
- 完成 Kitex 框架治理能力如何适配 xDS 模型的概要设计

# 设计介绍
## 整体架构
![image](https://user-images.githubusercontent.com/30144865/205260843-2a622773-f9fd-4c94-87c6-b2c0d1c2cbcd.png)

整体主要有几个模块组成：
- Control Plane：控制面，负责管理数据面并基于 xDS 协议下发治理规则
- Kitex Application：Kitex 内部整体主要分为

[2022-05-20 09:11] daidai21 commented on #460
so, I add a async example later  in [kitex-examples](https://github.com/cloudwego/kitex-examples)?

[2022-05-20 09:25] hYuang commented on #459
是不是换行符的问题

[2022-05-21 13:12] YangruiEmma commented on #460
Of course,  welcome to add the example ; )

[2022-05-22 12:46] xinda77 opened #468 "kitex tool generate protobuf code"
version
go 1.18.1
kitex 0.3.1

]# kitex -type protobuf   -I pkg/proto/ business.ext.proto
Outside of $GOPATH. Please specify a module name with the '-module' flag.

the reasons for this problem is？

[2022-05-23 02:40] cloudwegoIce opened #469 "[GLCC 赛题] 为 kitex 适配 Windows"
**🚩GLCC 高校编程夏令营赛题**
👏欢迎大家参与～

<img width="197" alt="image" src="https://user-images.githubusercontent.com/104130938/170914107-081c4538-6e89-4f04-9720-bf5ba9e473be.png">

题目简介包含：
1、题目描述
kitex 是字节跳动开源的 Golang RPC 框架，支持 thrift 和 protobuf 的编解码协议，配套了同名的命令行代码生成工具 kitex，底层使用了 netpoll 做网络传输层。目前 kitex 和 netpoll 仅支持在 *nix 平台上的使用，尚未支持 Windows。
2、编码任务
- 实现 netpoll 和 kitex 对 Windows 的适配和支持
- 不应对 netpoll 和 kite

[2022-05-23 06:54] YangruiEmma commented on #468
the exec path need to be inside of $GOPATH, or you should specify param -module, it is golang project module

[2022-05-23 12:37] xinda77 commented on #468
thanks

[2022-05-24 05:44] Jacob953 commented on #461
Hi, @CoderPoet! I am interested in this proposal, is there anything I could help with?

[2022-05-24 07:19] CoderPoet commented on #461
Very welcome, I have drawn you into the working group, we will dismantle some tasks later!

[2022-05-24 10:32] lsjbd opened #476 "bug: detection transhandler panics if OnError is invoked before OnActive"
**Describe the bug**

This [Value type assertion](https://github.com/cloudwego/kitex/blob/v0.3.1/pkg/remote/trans/detection/server_handler.go#L119) fails when `OnError` is invoked before `OnActive`.

[code]

**To Reproduce**

[code]

Add a `BH` instance as a `remote.BoundHandler` to the server  and send requests. You will see the 10th request makes the server panic and crash.

[code]

**Expected b

[2022-05-24 12:02] #335 closed, assigned to nobody

[2022-05-24 12:03] qinggniq commented on #335
@baiyutang sorry for delay response. Thanks for your awesome work.

[2022-05-26 03:05] #468 closed, assigned to nobody

[2022-05-26 13:15] YangruiEmma commented on #476
it is fixed by #474

[2022-05-26 13:16] #476 closed, assigned to nobody

[2022-05-27 07:42] dierbei opened #478 "panic: interface conversion: interface {} is nil, not *detection.detectionHandler"
![image](https://user-images.githubusercontent.com/52097565/170653291-1488d064-b40c-4d9c-8ccb-86b9a43ee23b.png)
![image](https://user-images.githubusercontent.com/52097565/170653355-c55615fd-107c-4404-aa96-ecbbed0709b2.png)
有时候访问接口的时候会出现这样的问题，有什么解决办法吗？

[2022-05-27 07:56] YangruiEmma commented on #478
同 #476 , fixed at #474 , 下周的版本会带上，着急的话可以用develop分支哈

[2022-05-27 07:56] #478 closed, assigned to nobody

[2022-05-27 08:10] dierbei commented on #478
好的，多谢。

[2022-05-27 08:34] jangworn opened #479 "The generated code missing context.Context"
**Describe the bug**

 The generated code only works with v0.2.1?

**To Reproduce**

Steps to reproduce the behavior:
1. go mod init example
2. kitex -service example -module example example.thrift
3. go run .
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/11421529/170661889-041415d1-40bb-40b5-9aa4-876a19e39f04.png)

**Kitex version:**

V0.3.1

**Environment:**

[2022-05-27 08:43] YangruiEmma commented on #479
refer to https://www.cloudwego.io/zh/docs/kitex/faq/, exec go mod edit -replace github.com/apache/thrift=github.com/apache/thrift@v0.13.0

[2022-05-27 08:46] #479 closed, assigned to nobody

[2022-05-30 13:58] daidai21 commented on #460
https://github.com/cloudwego/kitex-examples/pull/32

[2022-05-31 10:58] SinnerA opened #484 "Fix code scanning alert - Incorrect conversion between integer types"
Tracking issue for:
- [ ] https://github.com/cloudwego/kitex/security/code-scanning/1

[2022-05-31 13:31] #484 closed, assigned to nobody

[2022-06-02 11:57] debug-LiXiwen commented on #421
Hi, I want to choose module 🙌🏻

[2022-06-04 16:47] Jiaqi-qq commented on #459
您好，我也遇到了这个错误。这个错误只发生在WSL2上，生成代码时，貌似是路径分隔符使用了 `\\` 而不是 `/` 。目前我仍然未找到优雅的解决方案，寻求帮助。

[2022-06-06 02:26] lsjbd commented on #459
`\\` 在 IDL 里有转义的作用，所以在 IDL 里不能用作路径分隔符。kitex 目前还没有支持 Windows 环境，尽量在 *nix 环境上运行吧。

[2022-06-11 03:59] cloudwegoIce opened #494 "Kitex support Windows"
### 【用户需求反馈】
收到3+用户反馈，希望能够让 Kitex 和 Netpoll 支持 windows

📜**已收到反馈**：
1. 公司内部使用 windows 系统，公司还有桌面 qt 开发需求，暂时不会换系统，希望使用 kitex 替换 kratos。替换原因：kratos 因开源版本和开源企业内部使用不一致，开源版本维护更新无法再满足业务需求
2.  希望使用 sonic 和 kitex， sonic 支持了windows，希望 kitex 也能支持 windows

💻 **需求征集**：
希望 Kitex 和 Netpoll 能够支持 windows 的同学，**请大家为这条 issue 反馈留言**，可以评论留下具体使用需求和场景。

更多的用户需求和具体场景的反馈，将更快的推进需求被采纳和被看见～ 🥳
<img width="342" alt="image" src

[2022-06-11 04:11] obe007 commented on #494
支持支持，我就是像字节小哥逸云提出反馈的用户，没想到逸云和字节那么关注用户需求，爱了爱了，全面拥抱字节！

[2022-06-14 09:37] huasongleecn opened #496 "the kitex-contrib's register centers give the sample code of configing username/password to connect register center"
好几个注册中心实现 的 样例代码 没有给出通过用户名 密码连接 注册中心 的样例， 有那样的样例代码，用户会觉得更亲和 。

[2022-06-15 02:03] nova-liu commented on #478
请问现在这个问题解决了吗，在哪个版本解决的，我换下版本，谢谢

[2022-06-16 02:06] dongpoge commented on #461
Istio 服务发现是基于 Kubernetes 实现的.
Istio 控制面中，Pilot 组件负责管理服务网格内部的服务和流量策略。Pilot 将服务信息和路由策略转换为 xDS 接口的标准数据结构，下发到数据面的 Envoy.
个人理解，如果只是简单的应用开发，其实不用考虑 xDS 协议底层到底做了些什么，“应用” 和 “网络” 做到解耦。过不过kitex 能从底层支持  xDS 协议，是最好不过了，这样更贴近“云原生”，在相关场景下的应用会更广泛。

[2022-06-18 14:35] li-jin-gou commented on #496
Done

[2022-06-19 07:27] CoderPoet commented on #461
嗯嗯，对的，目的就是为了丰富网格数据面部署架构形态，让用户可以在不同场景下有更多更适合特定场景的部署形态选择

另外稍微补充下 Kubernetes 只是 istio 的服务注册及发现的其中一种，并作为默认的 provider 存在，其实还可以对接外部注册中心的哈

[2022-06-19 16:23] baiyutang opened #500 "Proposal：工程化模板或标准化的讨论"
**Is your feature request related to a problem? Please describe.**
了解到不少用户在做 RPC 框架技术选型时，都会关注是否开箱即用、工程化标准及方便的命令工具，对这方便有诉求，我们也可以考虑在此进行补齐或跟进。

**Describe the solution you'd like**
1、Kitex-project-layout，可以讨论是否要出一个 layout，尽管代码分层分包这些和微服务框架无关。
2、在标准化工程目录之后，可以在 kitex cli tool 中完善常用命令，如： new server / new rpc / gen client / gen server ...。
3、亦或者，我们无意统一标准，或者给一个参考让他们可用？

[2022-06-20 12:22] Lvnszn commented on #372
hi, I want to choose module "kitex/pkg/protocol"

[2022-06-21 09:54] ztinpn commented on #63
华兴证券有限公司是经中国证监会批准成立的全国性多牌照证券公司。其互联网证券APP的服务端是用Go语言开发的一套微服务系统，其中我们选择Kitex主要考虑其高性能、功能丰富、扩展性好，并且有专业技术团队的支持等特点。

Organization/Company: 华兴证券
Website: https://www.huaxingsec.com
Country: 中国（China）
Contact: PR@huaxingsec.com
Usage scenario: 基于Kitex的微服务系统
Status: 生产环境 (Production)

[2022-06-24 07:47] YangruiEmma opened #511 "Proposal：业务自定义异常的使用"
本 Proposal 目的是制定一种异常规范用于区分 RPC 异常和用户自定义的异常。我们希望将 RPC 错误和业务的错误能够区分开，RPC 错误表示一次RPC 请求失败，比如超时、熔断、限流，从 RPC 层面是失败的请求，但业务错误属于业务逻辑层面，在 RPC 层面其实是请求成功。服务监控建议对于 RPC 错误上报为请求失败，而业务层面错误，上报为请求成功，但上报 status_code 用于识别错误码。该能力对于工程实践具有一定的价值。

## BizError 接口定义

内置 BizStatusErrorIface 提供用户实现自定义异常接口，框架同时提供默认实现，用户也可以自定义实现，比如 gRPC 用户自定义的 Error 可同时实现 `interface{ GRPCStatus() *status.Status }`，可以复用 Status 的 Detail 用于透传更丰富的

[2022-06-24 07:50] YangruiEmma commented on #511
relevant discussion: https://github.com/cloudwego/kitex/discussions/248

[2022-06-24 09:14] xieyuschen commented on #511
[code]
这里的字符串信息加上具体error的名称是不是会更好，至少应该指明这是一个什么样的错误。

[code]
这个是否需要提供API，`errors.As`是不是已经够用了。

[2022-06-24 09:34] xieyuschen commented on #511
另外，个人觉得这里似乎是对errors的简单封装，用户自定义的error无法拓展，比如说用户想在error里面记一个traceId, requestId什么的信息。这个实现没办法让用户拓展

[2022-06-25 09:12] li-jin-gou opened #514 "optimize:add default metaHandler"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
- kitex provides two default metahandlers, but they are not used and users are often unaware of this. Hopefully it can be used
- Use the default metaHandler when no custom metaHandler is passed in

**Describe alternatives you've considered**
- compatibility needs to be considered (the influence

[2022-06-27 10:04] joway commented on #157
@lubanproj @hunterhug Hi, we are doing some research on UDP protocol in the RPC scenario.

We found that kcp is designed for the high radio packet-loss environment, but the RPC framework is most of the time used in a data center that has a very good network state. And the retransmission and userspace-ACK features cause bad performance compared to TCP.

With TCP, netpoll could have 29w QPS.
With KC

[2022-06-28 08:52] huasongleecn commented on #63
贪玩游戏: 中国领先的互联网游戏公司，一直秉承着“找回年少时贪玩的你”的品牌理念，致力于成为全球领先的轻娱乐价值服务缔造者，服务全球数亿用户。
场景需要一套高可靠、低时延、能应对突发暴增流量 的系统支持，我们选择了Kitex 。

Organization/Company: 贪玩游戏
Country: 中国(China)
Contact: [hr@tanwan.com](mailto:hr@tanwan.com)
Usage scenario: 基于Kitex的微服务系统  Using Kitex to build HA tools and systems
Status: 生产环境 (Production)

[2022-06-28 11:42] #514 closed, assigned to nobody

[2022-06-28 16:09] JellyTony commented on #511
可以参考 go-kratos 的错误处理，做的很好，

[2022-06-28 16:11] JellyTony commented on #500
增加个 Kitex-project-layout 很好，可以参考 https://github.com/go-kratos/kratos-layout 去做补齐

[2022-07-03 17:23] YangruiEmma commented on #511
@xieyuschen 感谢反馈，邮件太多这里的回复被淹没了，才注意到

请问可以举个例子吗？

是的，用户直接使用 errors.As就可以，这里提供FromErr是为了让用户更加明确如何获取自定义异常，可以不提供。

使用Kitex-gRPC和kitex-protobuf，用户自定义的 Error 可同时实现 interface{ GRPCStatus() *status.Status }，可以复用 Status 的 Detail 用于透传更丰富的业务信息；
使用thrift按照这个定义的确是不能直接支持的，不过可以类似status提供用户自定义struct编码，如果没有复杂结构体的定义需求，也可以直接增加map[string]string类型用于返回自定义的信息

[2022-07-03 17:24] YangruiEmma commented on #511
感谢反馈，请问具体指哪里呢？kratos的rpc是对gRPC框架的封装，异常也是基于grpc的status error额外封装定义

[2022-07-04 03:56] Skyenought opened #531 "Proposal: generate tool about cloudwego"
#### Discussion:

1. For `kitex`, is it possible to ignore the "-module" parameter to generate files when the project has a `go.mod` file and is not in `$GOPATH`?

2. For `kitex`, can the `-type` in the code generation tool be determined automatically by the IDL file extension?

3. For `hz` and `kitex` both, they both belong to cloudwego, is it possible to use a unified set of tools to combine the

[2022-07-04 06:32] ice4026 commented on #531
3 反对, cloudwego 只是个 namespace, 未来一定还会有其他项目, 全部合在一起意义不大

[2022-07-04 06:52] errocks commented on #531
3. 参考类似brew 跟brew cask 以及 tidb 的tiup , 我觉得挺好, 分久必合, 合久必分, 对用户来说应该是要一致的, 实现可以不一致, 至少语义是一致的. 用同一个规范; 用户都是懒的, 肯定喜欢方便的方案.
4. 第一阶段最好是有一个比较好的模板,  第二阶段再考虑要不要支持自定义

[2022-07-04 10:26] godsoul commented on #531
3.支持，一个业务可以同时提供grpc和http两种服务

[2022-07-05 02:10] JellyTony commented on #511
是的，哪个方式

[2022-07-05 04:40] xieyuschen commented on #511
@YangruiEmma
第一个问题来说，可以在error信息里显示出来这是一个`BizStatusError` error, 这样查日志时候可以更明确这个error来自哪里。比如net库的error都会明确一个`network error: blablabla`.
[code]

我的想法是如果只是简单的封装就不需要提供，可以在文档处或者注释处提醒用户如何获取校验error，作为库这种api容易导致代码库膨胀。当然如果这是一个用户使用的高频场景，那加上API会更好。

使用thrift按照这个定义的确是不能直接支持的，不过可以类似status提供用户自定义struct编码，如果没有复杂结构体的定义需求，也可以直接增加map[string]string类型用于返回自定义的信息.

谢谢feedback，我对这块还不太熟悉，会再阅读代码的。

[2022-07-05 06:35] YangruiEmma commented on #511
@xieyuschen Kitex 对错误处理的封装会对handler返回的error增加[biz error]，所以这里不用增加类型信息也是可以判断的，用户使用完全可以实现自己的error，用户自定义的error就没法控制error信息是否有BizStatusError，整体收敛在框架里更合适。

@JellyTony 麻烦给一个具体的示例

[2022-07-05 07:22] xieyuschen commented on #511
Get it, thanks.

[2022-07-05 18:42] YangruiEmma commented on #500
@baiyutang 感谢提议，我们会关注该问题，有进展在这里同步

[2022-07-07 03:11] lsjbd commented on #531
1 和 2 是不错的想法。
3 目前来说还没有必要，或者说，合并似乎不会有特别大的好处？毕竟合并后的维护成本也是要考虑的。
对于 4，上面 @errocks 的说法很好，应该先把当前的模板完善好，然后再考虑支持自定义。

[2022-07-07 03:20] simon0-o commented on #531
1. `-module` 除了指定 module 名之外，还有个作用是表明你在 gomodule 模式下工作，如果在当前项目内含有 go.mod 时默认在 gomodule 模式下工作的话，可能会打破一些约定。尤其是对于 gomodule 项目来说，从当前路径往上，只要任意一个路径含有 go.mod 就可以被当作 gomodule 项目。
2. 最初没有通过后缀来判断的原因是，从我们内部实践来看，有相当一部分用户喜欢用一些奇奇怪怪的后缀，比如 `.idl` ，且 apache thrift 官方也没有对后缀做强制约束。这样做的话，同样是一个 break change。
3. 我补充一点是，正如 @errocks  所说，合久必分，分久必合，分分合合，增加的只有用户的迁移成本。
4. thriftgo 本身是支持插件的，如果有强烈的需求，可以通过实现 thriftgo 插件的形式去实现。

[2022-07-07 03:53] #455 closed, assigned to li-jin-gou

[2022-07-07 13:10] huasongleecn opened #536 "kitex cmd tool suport the third-party .proto file"
kitex -type protobuf  由 .proto文件 生成 go 代码。有没有可以支持import第三方.proto文件 比如 https://github.com/gogo/protobuf 的方式？

[2022-07-08 00:56] #536 closed, assigned to nobody

[2022-07-08 02:04] lsjbd commented on #536
具体遇到了什么样的问题呢？能否详细描述一下

[2022-07-08 03:17] #460 closed, assigned to nobody

[2022-07-12 02:40] JellyTony commented on #511
https://github.com/cloudwego/kitex/issues/511#issuecomment-1174709248

[2022-07-12 16:39] JellyTony commented on #511
https://go-kratos.dev/docs/component/errors/

[2022-07-12 16:43] JellyTony commented on #511
简单来说，就是框架层面定义自己的错误类型，然后业务根据这个错误类型去定义自己的错误，上层服务可以根据 定义的错误 proto 生成 错误辅助函数去判断具体的某个错误，而不是用过错误等值判断，相信等值判断在微服务传递过后这个错误的值就会发生变化，这时候就需要一个固定不变的值去做判断，比如 go-kratos error 的reason 就是项目内全局唯一的，微服务传递这个也不会发生变化，

[2022-07-13 08:21] YangruiEmma commented on #511
proto 生成的的确会对错误类型做了封装比较便利，但实质还是值判断，kratos 的reason是在原Status上新增的异常定义信息，没有理解你说的「reason 就是项目内全局唯一的，微服务传递这个也不会发生变化」，你是指idl定义的error类型在链路上可以统一吗？

Kitex对Protobuf是支持，而不是耦合，在通用的错误处理上不会和idl绑定，这一点和go-kratos是不一样的

[2022-07-14 01:56] JellyTony commented on #511
reason 不是 id, 是错误的唯一标识，就跟唯一错误码一样和 code 差不多

[2022-07-14 02:14] li-jin-gou commented on #511
不懂就问，和ID有啥关系...

[2022-07-15 03:22] GuangmingLuo opened #555 "Request help: Support extension of service Registration and Discovery for ServiceComb"
**Issue Description**
- Support extension of service Registration and Discovery for [ServiceComb](https://github.com/apache/servicecomb-service-center)
- README and UT should be covered
- Executable example should be covered

**Code Repository**
- [registry-servicecomb](https://github.com/kitex-contrib/registry-servicecomb)

**Kitex Extension API**

- Registry:
    - EN: https://www.cloudwego.io/d

[2022-07-15 03:59] bodhisatan commented on #555
may i pick this？

[2022-07-15 06:16] GuangmingLuo commented on #555
Great ! Looking forward to it ~ @bodhisatan

[2022-07-17 07:27] marunrun opened #561 "k8s环境调用grpc 出现 i/o timeout"
**client.go 代码**
[code]

**server**
[code]

**Screenshots**

<img width="694" alt="image" src="https://user-images.githubusercontent.com/35883111/179388006-9a2ce955-26cd-4f91-944a-85b8bdf40984.png">

**Kitex version:**
[code]

**Environment:**
[code]
使用

The output of `go env`.
[code]

[2022-07-17 08:09] marunrun commented on #561
看起来跟 #226  这里问题差不多

但我用的版本是最新的， 在client端也增加了 `client.WithTransportProtocol(transport.GRPC)`

使用`google.golang.org/grpc` 也没出现问题

[2022-07-17 14:09] li-jin-gou opened #562 "feat: add kitex sentinel adapter"
**Is your feature request related to a problem? Please describe.**

-  add  kitex sentinel  adapter so kitex can use sentinel to  achieve circuit breaker and limiter,and so on.

**Describe the solution you'd like**
- doesn't need a lot of extensions
- use `kitex Middleware`  and  `sentinel-go` to achieve rpc call and streaming 's adapter

- the pseudo-code as follows
[code]

**Describe alternative

[2022-07-18 06:42] marunrun opened #563 "kitex 命令行对于 proto import 生成的文件 与 protoc 不一致"
**Describe the bug**
kitex 命令行生成的文件 对于引入的第三方proto文件,生成出来的文件会自动加上module

**To Reproduce**

比如： 我引入了`google/protobuf/empty.proto`
[code]

使用`kitex`命令行`kitex -service tenant -type protobuf -module "moduleNamexxxxx" tenant.proto  `

生成出来的`tenant.pb.go`中 import会带上 `module` 前缀 ，并且在`kitex_gen` 目录下创建对应的`empty.pb.go`文件

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/35883111/1

[2022-07-19 15:46] YangruiEmma commented on #563
kitex对pb的代码生成保留了和thrift生成一样的体验：生成依赖idl的代码；go_package只指定包名即可，参考 [Protobuf 代码生成](https://www.cloudwego.io/zh/docs/kitex/tutorials/basic-feature/serialization_protocol/#%E7%94%9F%E6%88%90%E4%BB%A3%E7%A0%81)。
对于 '生成依赖idl的代码' 这个行为的确与pb用户常规使用不一样，这个我们也准备在近期的版本中进行调整  cc @lsjbd

[2022-07-19 15:55] YangruiEmma commented on #561
你好，你确认端口监听正常是可通的吗

[2022-07-19 16:19] YangruiEmma commented on #511
你说的这个 ”唯一“ 是基于错误码和idl定义，bizStatusError 对 code 也是强制要求的，至于code如何定义由用户来决定，前者链路上统一idl状态码定义，后者业务统一维护自己的bisStatusError，不论前者还是后者如果错误码没有统一维护都会存在不一致的问题，差别是错误码有变更时是修改idl重新生成还是修改代码

[2022-07-20 01:58] marunrun commented on #561
你好， 确认是的。
![](https://user-images.githubusercontent.com/35883111/179388006-9a2ce955-26cd-4f91-944a-85b8bdf40984.png)

如上图所示 同样的请求 前面几次都是成功有响应的， 中间夹杂了几次i/o timeout 和 成功的响应

[2022-07-20 06:05] YangruiEmma commented on #561
麻烦具体描述下你的测试方式

[2022-07-20 06:20] marunrun commented on #561
`client.go`
[code]

`go build -o client client.go`

----

`request.sh`
[code]

[code]

[2022-07-21 02:21] wittech opened #567 "请问是否有javascript的客户端？是否可以用grpc的js客户端连接kitex的服务？"
请问是否有javascript的客户端？是否可以用grpc的js客户端连接kitex的服务？

[2022-07-21 03:49] YangruiEmma commented on #567
可以用官方 gRPC 客户端访问 Kitex-gRPC

[2022-07-21 05:42] YangruiEmma commented on #348
Thanks @dongzeXD . This is common use in golang 'Option Pattern'. Why do you think a interface is better, could you give a demo? And this is irrelevant with `WithSuite`.

[2022-07-21 05:49] #259 closed, assigned to nobody

[2022-07-21 05:52] YangruiEmma commented on #311
Hi @Liqifan, sorry for missing the message. This is [IDL Definition Specification for Mapping between Thrift and HTTP](https://www.cloudwego.io/docs/kitex/tutorials/advanced-feature/generic-call/thrift_idl_annotation_standards/)

[2022-07-21 05:52] #311 closed, assigned to nobody

[2022-07-21 05:55] YangruiEmma commented on #368
不好意思规范忘了发，参考下 [Thrift-HTTP 映射的 IDL 规范](https://www.cloudwego.io/zh/docs/kitex/tutorials/advanced-feature/generic-call/thrift_idl_annotation_standards/)，遵照规范如果还有问题，可以再提issue，这里先做关闭

[2022-07-21 05:55] #368 closed, assigned to nobody

[2022-07-21 05:57] #370 closed, assigned to nobody

[2022-07-21 05:57] #123 closed, assigned to nobody

[2022-07-21 05:58] #110 closed, assigned to nobody

[2022-07-21 06:01] #108 closed, assigned to nobody

[2022-07-21 06:06] lsjbd commented on #135
@faafbb We have not yet test kitex on Windows, so please run it on linux or mac.

[2022-07-21 06:40] #134 closed, assigned to nobody

[2022-07-21 07:19] #459 closed, assigned to nobody

[2022-07-21 07:42] #7 closed, assigned to nobody

[2022-07-21 07:42] #135 closed, assigned to nobody

[2022-07-21 07:43] #26 closed, assigned to nobody

[2022-07-21 07:49] GuangmingLuo opened #568 "[docs]: translate basic-feature/transport_protocol/"
zh: https://www.cloudwego.io/zh/docs/kitex/tutorials/basic-feature/transport_protocol/
en: https://www.cloudwego.io/docs/kitex/tutorials/basic-feature/transport_protocol/

file location: https://github.com/cloudwego/cloudwego.github.io/edit/main/content/en/docs/kitex/Tutorials/basic-feature/transport_protocol.md

Notes:
- Do not change the original layout, code style or content sequence.
- Softwar

[2022-07-21 07:51] GuangmingLuo opened #569 "[docs]: translate advanced-feature/error_handler/"
zh: https://www.cloudwego.io/zh/docs/kitex/tutorials/advanced-feature/error_handler/
en: https://www.cloudwego.io/docs/kitex/tutorials/advanced-feature/error_handler/

Notes:
- Do not change the original layout, code style or content sequence.
- Software Translator is a tool, not god, do not use the result as the final result.
- Translation principle: faithfulness, expressiveness and elegance.
- S

[2022-07-21 07:53] GuangmingLuo opened #570 "[docs]: translate advanced-feature/start_shutdown_hook/"
zh: https://www.cloudwego.io/zh/docs/kitex/tutorials/advanced-feature/start_shutdown_hook/
en: https://www.cloudwego.io/docs/kitex/tutorials/advanced-feature/start_shutdown_hook/

Notes:
- Do not change the original layout, code style or content sequence.
- Software Translator is a tool, not god, do not use the result as the final result.
- Translation principle: faithfulness, expressiveness and e

[2022-07-21 08:04] rogerogers commented on #569
assign me

[2022-07-21 08:05] #496 closed, assigned to nobody

[2022-07-21 10:08] ii64 commented on #494
哦，但是windows中没有那样的epoll？

[2022-07-24 15:55] fufuhaixuan opened #572 "kitex生成的kitex_gen依赖不太正确"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

idl使用的protobuf,  目录结构是这样的:
.
└── idl
    ├── api.proto
    └── kitex
        └── sample
            └── hello
                └── kitex.sample.hello.proto

其中 kitex.sample.hello用到了注解，按照hertz的步骤，import了api.proto，api.proto内容如 [](https://www.cloudwego.io/zh/docs/hertz/tutorials/toolkit/toolkit/#new-创建一个新项目-1)

[2022-07-24 15:58] #572 closed, assigned to nobody

[2022-07-24 15:58] fufuhaixuan commented on #572
编辑到一半误发出来了，然后看到已经有别的人提了相同的issue，故关闭这个

[2022-07-25 06:24] SinnerA opened #574 "Proposal: Kitex 对接远程配置中心的方案"
## 目标
### 多数据源
定义标准化的接口来适配不同的数据源。
数据源可以是环境变量，本地文件，这两个由框架内置，也可以是常见的配置中心，例如 etcd、nacos 和 apollo 等，会由 kitex-contrib 来提供。
如果有特殊需求，可以通过接口实现来适配。
支持一次性从多个数据源加载数据，key 相同的配置将会被覆盖，具体的优先级由配置源实现中的读取顺序来决定。

### 多格式
支持多种格式的数据解析，内置常见的 json 和 yaml，如果用户有需要可以实现对应的 Decoder 接口。

### 动态加载
在应用启动阶段会首次加载所需配置，并在后台监听配置的变更，自动重新加载最新配置，服务不需要重启便能更新配置。

### 可观察性
能够观察到当前正在使用的配置，以及配置的每次变更事件，以便排查问题。

## 接口定义
[code]

- Loader：它通过一个

[2022-07-27 03:44] JellyTony opened #576 "Proposal：消息队列流量染色这块有什么好的方案吗？"

[2022-07-27 09:45] YangruiEmma commented on #576
该问题已在用户群回复。消息队列的透传能力需要消息队列支持，链路上需要在规范上统一各组件支持，如果对于用户透传的能力，内部的规范是统一用metainfo，但也是需要mq对应支持。如果问题是消息队列怎么做分发，内部我们有proxy做处理

[2022-07-27 12:15] bodhisatan commented on #555
https://github.com/kitex-contrib/registry-servicecomb/pull/1

[2022-07-27 12:32] #405 closed, assigned to nobody

[2022-07-27 12:35] #567 closed, assigned to nobody

[2022-07-29 07:16] GuangmingLuo commented on #569
Thank you !

[2022-07-29 07:16] #569 closed, assigned to rogerogers

[2022-07-29 07:17] #570 closed, assigned to BaiZe1998

[2022-08-01 07:32] #576 closed, assigned to nobody

[2022-08-01 13:46] #562 closed, assigned to li-jin-gou

[2022-08-05 10:43] #568 closed, assigned to ag9920

[2022-08-05 10:46] #555 closed, assigned to bodhisatan

[2022-08-08 02:54] #561 closed, assigned to nobody

[2022-08-08 03:02] xiaodoudou12 opened #586 "请问如何使用自定义消息结构和非kitex客户端通信，以及服务器主动向非kitex客户端PUSH消息"
**Describe alternatives you've considered**
我所期望是能使用kitex框架和非kitex客户端进行TCP长连接通信，通信数据格式一般是固定大小消息头+PB二进制
第一个问题：请问如何支持自定义消息格式
我看examples里面codes可以支持自定义编解码接口，RPC的方法也需要在消息数据里面添加字符串传送，如果有自定义消息解析接口然后调用到上层统一处理接口即可。同时还面临一个问题，当前端口已被用于处理自定义消息数据，还需要添加一个端口支持kitex内部消息格式便于集群内部通信，不知道能不能调用多次NewServer或者一个节点下监听多个端口。

第二个问题：服务器如何向客户端主动PUSH消息
我找了一下没有找到收到on_connect和on_close的hook接口，文档上面只说了服务器启动的hook接口。请问如何实现向非kitex客户端pus

[2022-08-10 02:25] whzhades commented on #63
禾多科技专注于打造基于前沿人工智能技术和汽车工业技术的自动驾驶方案,具备从车辆线控、多传感器技术到自动驾驶核心算法模块的完整布局,是极少数拥有全栈自动驾驶研发能力的公司之一。我们大量的数据存储于各大公有云以及自己的私有云平台。我们通过Kitex搭建我们自己的云平台同时接入各大公有云，我们之所以选择kitex主要考虑其高性能、功能丰富、扩展性好，并且有专业技术团队的支持等特点。
Organization/Company: 禾多科技
Website: https://www.holomatic.com/
Country: 中国（China）
Contact: wanghaozeng@holomatic.com
Usage scenario: 基于kitex的微服务系统
Status: 生产环境 (Production)

[2022-08-10 07:46] YangruiEmma commented on #586
- 第一个问题：https://www.cloudwego.io/zh/docs/kitex/tutorials/framework-exten/codec/ Codec 扩展这里有说明
    1. 自定义消息协议扩展 PayloadCodec 即可，同时也需要扩展 Codec，因为默认的 Codec 不支持你的协议
    2. 如果想支持多协议的处理，就在你的 Codec 实现中做协议探测，根据协议探测决定用那个 PayloadCodec 解码
- 第二个问题
    服务端向客服端 push，这个要看支持的消息类型，如果是持续或多次 Push，PingPong 肯定不满足你的要求，gRPC 的streaming 是可以的。如果你只是单纯想在连接关闭时做一些处理，可以扩展 BoundHandler，https://www.cloudwego.io/zh/docs/kitex/tuto

[2022-08-10 08:31] #563 closed, assigned to lsjbd

[2022-08-10 13:37] #348 closed, assigned to YangruiEmma

[2022-08-17 08:06] a631807682 opened #597 "Proposal: support bound multiple service implements into one server"
**Is your feature request related to a problem? Please describe.**

We usually don't declare all services in one IDL (proto file).  Take [COMMUNITY_MEMBERSHIP](https://github.com/cloudwego/community/blob/main/COMMUNITY_MEMBERSHIP.md) as an example, we usually logically distinguish between Member services and Maintainer services, they are Each implements its own logic, we only merge when starting t

[2022-08-17 09:57] YangruiEmma commented on #597
Kitex doesn't support multi-service now. But for thrift, you can define multi-service in IDL and use [combine service ](https://www.cloudwego.io/docs/kitex/tutorials/code-gen/combine_service/). For gRPC, it is our TODO to support it.

[2022-08-18 04:38] a631807682 commented on #597
I have two questions about `Combine Service`

### Question 1

I'm not sure if I'm right, the `Combine Service` appears to be designed to simplify client-side logic, but it does not have the ability to split services and combine multi IDL files, we can split services ourself, but seems combine multi IDL files should be supported.
[code]

### Question 2

We may only need a few sub service of Combine

[2022-08-18 07:22] YangruiEmma commented on #597
**Question 1**
I am sure about your question, this is to combine multi services in one service which name is CombineService. When your generated code file is too big to read, it is useful. And as you said, it also can simplify client-side code.

**Question 2**
How to use the connection depends on your client. If you want to use 2 services, you can use CombineService to build a client.

[2022-08-22 13:54] baiyutang commented on #500
同步一下进展：
最近考察了一些项目，目前 Go 语言内普遍认同度比较高的 [project-layout](https://github.com/golang-standards/project-layout) 项目模板。

而 Web 项目通常把业务逻辑代码放置在 `internal` 目录下，那比较有争议的就是如何组织业务代码，更多人是按照自己的习惯去做，如果有比较能达成一致的，那就是 `Controller - Use Cases(Services) - Repositories - Entities` 以整洁架构为基础的软件架构方法。

资料：
- [软件架构入门（阮一峰）](http://t.zoukankan.com/feng9exe-p-6807066.html)
- [Golang 中的整洁架构](https://xie.infoq.cn/article/be9d223cf

[2022-08-26 03:13] GuangmingLuo opened #614 "[docs]: translate kitex-retry doc based on changes"
zh doc changes: https://github.com/cloudwego/cloudwego.github.io/pull/310/files

Notes:
- Do not change the original layout, code style or content sequence.
- Software Translator is a tool, not god, do not use the result as the final result.
- Translation principle: faithfulness, expressiveness and elegance.
- Submit your PR here in this [repo](https://github.com/cloudwego/cloudwego.github.io).

[2022-08-30 09:03] codeoos opened #629 "Can hertz support more than one logger?"
**Is your feature request related to a problem? Please describe.**

Now, In package hlog,all of the operations were related to one logger,if i want more than one logger ,it can't satisfy my need.For example, i want to print warning info to WARNING.log error info to ERROR.log, or i want to print biz info to NOTICE.log and print rpc info to RPC.log...

**Describe the solution you'd like**

I think t

[2022-08-30 09:19] li-jin-gou commented on #629
hello @codeoos ，this is a issue  about `hertz` instead of `kitex`, welcome open a issue in [hertz](https://github.com/cloudwego/hertz/) and feel free to contact us and join the lark group, describing a specific requirement scenario

[2022-08-30 09:55] #629 closed, assigned to nobody

[2022-09-04 08:30] R2coding2run opened #634 "kitex代码生成客户端调用 标准thrift微服务 问题"

[2022-09-05 03:12] #634 closed, assigned to nobody

[2022-09-05 06:05] oh0123 opened #635 "lack of context parameters when build"
环境: windows wsl2
go version: 1.19.0
kitex version: 0.4.2
![image](https://user-images.githubusercontent.com/30911503/188371158-cb2eff70-3431-4ce9-ab6b-df6230ff6769.png)

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise descriptio

[2022-09-05 06:12] li-jin-gou commented on #635
@wanghao0123  refer to https://github.com/cloudwego/kitex/issues/136

[2022-09-05 06:12] #635 closed, assigned to nobody

[2022-09-08 12:09] xiaochaohit opened #644 "kitex是否提供周期性更新的连接池"
在Kubernetes场景下应用kitex，由于Kubernetes不能处理长连接的负载均衡，所以需要一种能够定时刷新连接（根据时间或者已处理请求数）的连接池
请问类似的连接池在kitex中有无提供

[2022-09-09 02:50] jinleileiking opened #645 "go1.19 依赖编不过去"
[code]

[2022-09-09 02:50] jinleileiking commented on #645
mac m1

[2022-09-09 03:21] ppzqh commented on #644
1. 如果在 k8s集群内用 clusterIP 的方式去访问服务的话，框架侧的负载均衡确实就失效了。但是，连接池不应该关注“负载均衡”相关的刷新机制。
2. 提供一个解法作为参考：

- 定义 [Headless Service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services)，配合 [dns-resolver](https://github.com/kitex-contrib/resolver-dns) ，dns解析时会返回全量的下游实例。之后便可以利用 kitex 提供的负载均衡，来选择访问的下游实例。

- 不需要关心连接池的逻辑，kitex 会定期 refresh 下游实例，若实例列表有变更，会移除连接池中【未在新实例列表内出现的实例】对应的连接。

[2022-09-09 09:56] joway commented on #645
@jinleileiking upgrade kitex to the latest version. Now github.com/choleraehyq/pid is already used v0.0.15

[2022-09-12 15:03] SealinGp commented on #634
我目前也遇到了这个问题,服务端代码基本没改啊,客户端也没怎么改之前可以请求,现在一直这个错误...,怎么解决的呀

[2022-09-14 16:08] JerryZhou343 commented on #500
看看我的 https://github.com/JerryZhou343/kratos-tmpl

[2022-09-16 06:07] cdoaini opened #648 "希望 Kitex 支持文件配置以及多环境多配置的需求"
我希望能在kitex里面实现配置文件读取的功能，以及区分测试、预发和生产等多环境多套配置的场景，当前Kitex还不支持，需要业务自己实现，这种通用的功能还是希望官方能提供下支持

[2022-09-16 08:13] #644 closed, assigned to nobody

[2022-09-16 13:53] li-jin-gou commented on #648
refer to https://github.com/cloudwego/kitex/issues/574

[2022-09-18 10:10] xinda77 opened #650 "generate protobuf idl ,has no files in use path"
**Describe the bug**

today i use kitex toos (v0.4.2) generate protobuf idl.

exec  kitex -type protobuf -module xxx  -service business.int -use xxx/pkg/pb/  -I pkg/proto/  business.int.proto

cli has no errors ,but It has no files in use（xxx/pkg/pb/） path.

 what should i do ?

A clear and concise description of what the bug is.

**Expected behavior**

A clear and concise description of what you

[2022-09-19 09:45] GuangmingLuo opened #653 "【招聘】微服务/中间件开源研发工程师"
**城市**

北京/上海 （北京优先）

**职位描述**
1、参与 CloudWeGo 开源项目，包括开源项目功能开发、周边生态集成、知识体系建设以及对外布道，共同建设业界一流的开源项目；
2、参与 Service Mesh/Multiple Runtime 相关的开源项目，包括代码贡献和社区建设，建设字节跳动在该项目与该领域的技术影响力。

**职位要求**
1、本科及以上学历，计算机、通信等相关专业；
2、熟练掌握 Go/C/C++/Rust 中一门或者多门语言；
3、具备优秀的逻辑思维能力，对业界全新前沿技术、思考问题实践充满热情；
4、具备开源精神以及较强的合作精神与学习能力。

具备以下条件之一者优先：
1、gRPC/Istio/Linkerd/Envoy/Dubbo/Mosn/Dapr 开源项目 Committer 优先；
2、有 CloudWeGo 开源项目贡献经历者优先

[2022-09-19 13:50] #653 closed, assigned to nobody

[2022-09-20 07:20] #614 closed, assigned to KevinChens

[2022-09-21 12:52] #650 closed, assigned to nobody

[2022-09-22 07:39] xiaodoudou12 commented on #586
感谢大佬的解答，上面两个问题我扩展搞定了，现在我在尝试优雅的关闭服务器，遇到一些问题想请教。
以下代码是我用kitex-examples/streaming/server/main.go的代码修改了以下作为测试
[code]
不把Run运行在协程中的话会卡住5秒钟
[code]
把Run运行在协程中，结束的时候等Run协程在ShutdownHook清理完成，直接结束父协程，不管Run后续逻辑处理就可以正常结束
[code]
不知道这种结束方式有没有风险，很奇怪Bidi已经结束了，怎么Stop哪里还会卡住等待呢
发现这种方式有问题，没有正常结束，如果接入ETCD的话结束的时候没有清理ETCD中信息

[2022-09-23 04:39] YangruiEmma commented on #648
@cdoaini 文件配置是有计划的哈，内部有支持，需要做一些调整才能开放出来

[2022-09-26 03:52] daidai21 opened #658 "[QA] 服务端新增字段疑问"
thrift服务端新增required字段，调用端不变，服务端新增的发布后，旧的调用端会给新增字段附默认值还是调用失败？

[2022-09-26 06:46] #645 closed, assigned to nobody

[2022-09-26 07:36] YangruiEmma commented on #586
退出时间默认是 5s，通过server.WithExitWaitTime配置，与此issue无关的讨论单独提吧，这个issue解决了就关闭了

[2022-09-26 07:36] #586 closed, assigned to nobody

[2022-09-26 11:31] R2coding2run opened #660 "kitex 客户端状态 是 怎样进行判断的 ？如果保证 client 不报错"
在使用kitex中 发现一个问题 就是 我的客户端再 调用 其他微服务的时候。
如果微服务 节点不存在 那么 客户端就会报错。
我这里想请教一下，大家的解决方案。

[2022-09-26 11:43] li-jin-gou commented on #660
- 可以稍微详细描述一下问题，比如下游没有节点服务的话正常的确调用应该返回报错，报错(返回err)为什么会导致程序退出呢?
- 具体使用不清楚的话可以参考 https://github.com/cloudwego/kitex-examples/tree/main/bizdemo/easy_note

[2022-09-28 08:44] xinjiyuan97 opened #663 "thrift定义数字枚举时生成代码错误"
**Describe the bug**

编译含有枚举类的thrift的时候报错

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**
build Successfully

**Screenshots**
![image](https://user-images.githubusercontent.com/12007836/192732661-da8a2370-5407-4b5d-93c6-2462b3d3910c.png)

**Kitex version:**
volo 0.1.1

**Environment:**
Ubuntu 18.08
rustc 1.64.0-nightly (0f4bcadb4 2022-07-30)

**Additional context*

[2022-09-29 08:38] zmhbh opened #665 "在kubernetes + istio中，gin无法请求kitex，本地没问题"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.
客户端
![9d8080b4-f868-417d-9bcd-b3dcea

[2022-09-29 10:16] #663 closed, assigned to nobody

[2022-09-29 17:10] dugenkui03 opened #666 "关于 bus.go 中 `type bus struct`方法的线程安全性"
**Describe the bug**
我注意到 `bus.callbacks`使用了线程安全的`sync.Map`，进一步推测设计者预期`bus`定义的对`bus.callbacks`操作的方法（`#Watch`、`#Unwatch`）是可以在多个 goroutine 中安全的并发访问的，即对`bus.callbacks`的操作是原子操作。

可是事实并非如此，想象 goroutine-1在 1 处读取了数据，并且在将更新的数据放到 `bus.callbacks` 之前，另一个 goroutine-2 从 `bus.callbacks` 调用到1获取了相同的数据，则 goroutine-2  的更新可能会覆盖 goroutine-1 的更新、或者被 goroutine-1 覆盖。
<img width="610" alt="image" src="https://user-images

[2022-09-30 14:26] dugenkui03 opened #667 "关于 pkg/event/queue.go 中 `queue#Push` 和 `queue#Dump` 的线程安全问题"
**Describe the bug**

我注意到对于队列`queue`的读写使用到了读写锁和cas操作，相信设计者初衷是要保证队列在并发场景下行为的正确性。但某些场景下并非总如预期般的正确运行。

如下、当 goroutine-1 在 1 处执行cas成功后、并在获取锁之前。goroutine-2成功获取读锁并执行2处的代码、那么`if e == nil ` 将会因为goroutine-1操作造成的数据不一致而判定为true，并返回空数据。
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/18216266/193290442-b81558ce-2e20-44b2-8424-e219257d8a82.png">

[2022-10-05 09:41] #666 closed, assigned to nobody

[2022-10-09 09:36] GuangmingLuo commented on #648
@cdoaini 文件配置可以考虑使用 https://github.com/spf13/viper

[2022-10-10 05:14] Skyenought opened #671 "feat: add option to open grpc server reflection"
**Describe the solution you'd like**

想使用 [grpcui](https://github.com/fullstorydev/grpcui) 用于 kitex 的调试，其中 README 描述：

![20221010123814](https://user-images.githubusercontent.com/70408571/194800096-5bd3e698-957f-4c7e-b087-477f60df3294.png)

kitex 中是否能支持 dev 配置开启 server reflection 用于调试 grpc 服务？

[2022-10-10 14:27] carlos-yuan opened #673 "missing method AddCloseCallback"
![微信图片_20221010222439](https://user-images.githubusercontent.com/53415158/194889016-ebaf1b6f-2882-4e98-8003-b2e8d67919ea.png)
加上transport.GRPC运行就报错

[2022-10-11 06:13] carlos-yuan opened #674 "error=invalid payload first4Bytes=0x50524920"
![image](https://user-images.githubusercontent.com/53415158/195009744-e188baaf-631d-4e65-bed1-14ae19a95e88.png)
使用go-zero的grpc调用 kitex服务会报如上错误。
单纯的使用grpc完全正常，go-zero可以调用。
![image](https://user-images.githubusercontent.com/53415158/195010295-4a317e04-6a0e-4bae-8226-3adde0ba0983.png)

[2022-10-13 00:49] gotogotogo opened #679 "grpc框架迁移到kitex时server中包含的handler数目不同的问题"
我们在尝试将原本业务的代码迁移到kitex框架。之前使用的是go官方的grpc框架，其中的server中可以包含多个handler，因此我们的业务组织形式是：开一个大的grpc server,每个小服务的proto编译后将handlers统一注册到大的grpc server中去，但kitex的一个server中似乎只能存放一个handler，我想请问这种组织形式我们一般如何解决（多个service都在本地，统一由一个端口暴露给为外部访问）

[2022-10-13 10:58] jjeejj opened #681 "kerrors 注释方法名错误"
https://github.com/cloudwego/kitex/blob/e07cc19463c143909fd366bd08283cc099da104d/pkg/kerrors/kerrors.go#L83

[code]

应该是  WithCauseAndExtraMsg

[2022-10-13 13:52] jjeejj commented on #681
https://github.com/cloudwego/kitex/pull/683 @baiyutang

[2022-10-14 05:59] damon008 opened #684 "添加基于k8s服务注册与发现的完整demo案例"
请添加基于k8s的注册与发现的完整demo，通过域名来解析不在同一NS下的服务从而进行访问。

[2022-10-15 15:08] huangwenkan9 commented on #667
在这个case里，我理解是符合预期呢：goroutine-1 没有执行完之前，goroutine-2拿到的都是空数据。

[2022-10-17 01:36] damon008 opened #685 "基于Nacos的rpc服务注册与发现的完整demo"
在kitex框架下，请整理一份基于Nacos作为注册中心的rpc的完整demo，谢谢，我看大都是基于etcd的。

[2022-10-17 01:52] li-jin-gou commented on #685
我注意到 https://github.com/kitex-contrib/registry-nacos 与 https://github.com/kitex-contrib/registry-etcd 的使用方式基本上是一样的，以至于用户只要替换一下初始化方式和传入参数就可以将 etcd注册中心 替换为 nacos 中心.
refer to https://www.cloudwego.io/zh/docs/kitex/tutorials/framework-exten/service_discovery/ @damon008

[2022-10-18 06:27] Allengf opened #686 "kitex framework does not have the function of security authorization"
Describe the solution you'd like
istio网格proxyless模式下支持授权tcp和http流量的访问控制，类似于istio sidecar模式下的AuthorizationPolicy功能https://istio.io/latest/zh/docs/tasks/security/authorization/authz-http/

[2022-10-19 13:12] zyu opened #688 "生成的代码 go run ."
/root/go/pkg/mod/github.com/cloudwego/kitex@v0.4.2/pkg/utils/thrift.go:54:54: not enough arguments in call to t.tProt.WriteMessageBegin
        have (string, thrift.TMessageType, int32)
        want (context.Context, string, thrift.TMessageType, int32)
/root/go/pkg/mod/github.com/cloudwego/kitex@v0.4.2/pkg/utils/thrift.go:57:21: not enough arguments in call to msg.Write
        have (thrift.TProto

[2022-10-19 13:59] baiyutang commented on #688
look this >> #136

[2022-10-20 02:33] #688 closed, assigned to nobody

[2022-10-20 12:00] ppzqh commented on #686
感谢提议，proxyless模式下的访问控制的能力后续会支持。

[2022-10-21 11:19] ligang2425 opened #689 "关于combineservice"
想请问使用combineservice中的extends关键字应该使用什么命令，以及combineseivice是否提供了proto的实现，extends是将多个服务拆分到多个文件中吗？文档中此处描述的比较简洁。

[2022-10-21 12:06] simon0-o commented on #689
extends 不需要单独的命令，直接在 idl 中使用即可，具体语法可参考 [service](https://thrift.apache.org/docs/idl#service)。proto 也支持。extends 是将其他 service 的 functions 扩展到当前的 service 中，这是 thrift 的原生关键字，具体参考前面的文档。

[2022-10-24 09:32] ligang2425 commented on #689
谢谢，所以因为proto本身也没有extends关键字，所以在kitex中，只支持同一个proto文件中的combine service，也不支持分文件combineservice

[2022-10-25 03:22] #689 closed, assigned to nobody

[2022-10-26 09:54] #681 closed, assigned to nobody

[2022-10-31 03:35] YangruiEmma commented on #494
目前支持情况：Kitex 在 Transport 对 go net 做了扩展对接，在 windows 环境会默认使用 go net，但工具暂时还没有对windows环境做支持
TODO：Netpoll 和 工具 完整的支持 windows 是 TODO 状态，也期待其他小伙伴参与贡献

[2022-10-31 07:11] GuangmingLuo commented on #685
Check this for reference : https://github.com/kitex-contrib/registry-nacos/tree/main/example
We cann't provide biz-demo for every single registry.

[2022-10-31 07:11] #685 closed, assigned to nobody

[2022-10-31 07:23] joway commented on #684
k8s 的服务注册是基于 k8s service 这一套，不同 ns 间访问仅需要制定 ns 后缀如 service-a.ns-b （这个域名能否被解析，取决于你 k8s 集群内 dns 配置）。

而 k8s 的服务发现也是基于 dns ，并非是走的框架代码。

简单来说，k8s 的服务注册与发现事实上都不是框架自己在做的。所以目前我们只是提供了 https://github.com/kitex-contrib/resolver-dns 这个通过 dns 直接访问的功能。

[2022-11-02 03:18] Ham0118 opened #694 "如何修改自动生成的 main.go 和 handler.go 的输出路径"
**Is your feature request related to a problem? Please describe.**

当在用 kitex Version v0.4.2 生成代码的时候

**Describe the solution you'd like**

如何修改 main.go 和 handler.go 的输出路径

[2022-11-02 04:04] jinleileiking opened #696 "FEAT: 全局context"
我们的业务如下：

收到请求-》 go 异步请求 -》 返回200

在主server graceful shutdown时，需要等待这些go 异步请求都完成后，再退出server，

目前一个土的方法是用一个全局 waitgroup，等所有的goroutine，有没有server绑定的context去做这个呢？

[2022-11-02 05:20] joway commented on #696
目前没有，仅仅只有 WithExitWaitTime 可以控制退出时间。你说的方法本身也是蛮好的

[2022-11-02 06:47] YangruiEmma commented on #694
这个输出路径不支持修改，默认是 kitex 执行目录，有什么需求场景需要指定目录输出吗

[2022-11-02 08:19] Ham0118 commented on #694
目前在改造旧项目，假如不能支持的话我就得手动删除这两个文件，因为我们的代码写在别的地方

[2022-11-03 11:19] #511 closed, assigned to nobody

[2022-11-04 12:15] rectcircle opened #701 "gonet.gonetTransServerFactory has dead loop"
## Describe the bug

[code]

通过 dlv debug 发现，在 Kitex Server 接收到一个请求后，传输层使用的 gonet server 会出现死循环。代码位于：https://github.com/cloudwego/kitex/blob/0f18091fef825b6af0da7c4d8cf6473e4af25d06/pkg/remote/trans/gonet/trans_server.go#L91~L98

## To Reproduce

1. clone reproduce code: `git clone https://github.com/rectcircle/kitex-customize-underlying-connection.git`
2. checkout to `kitex-issue-701`
3. exec `go

[2022-11-08 03:43] Ham0118 opened #705 "invalid issue"
就提个问题，阴阳怪气，内涵，大公司就是厉害啊

[2022-11-08 04:34] YangruiEmma commented on #705
必须是rpc定义的方法才会上报

[2022-11-08 06:07] Ham0118 commented on #705
那就是目前不能支持非rpc方法上报是吗

[2022-11-09 03:01] GuangmingLuo commented on #705
同学，你先去了解下什么是「链路追踪」哈

[2022-11-12 02:38] rushwing opened #709 "可以把ThriftGo替换成原生Thrift 0.13的版本吗？"
考虑到项目可能需要支持C++/Python等其他语言的微服务，能否剥离ThriftGo插件，替换成原生的Thrift组件？
如果可以，有参考实现吗？

[2022-11-12 08:28] simon0-o commented on #709
没太理解你的问题，你说的剥离 Thriftgo 插件，指的是从什么里面剥离呢？如果指的是从 Kitex 生成代码工具里剥离的话，Kitex 只支持 go 语言，不存在你说的问题。如果你担心的是通讯的问题的话，你们使用 C++ 或者其他语言的 RPC 框架，依然可以通过 Thrift 或者 gRPC 协议和 Kitex 通讯，这并不矛盾。

[2022-11-16 01:34] rushwing commented on #709
我们想基于Kitex生成其他语言的服务，按你的说法，这个是没法支持的了；但是如果使用的Thrift原生框架生成的服务，是可以和Kitex通信的，是这个意思对吧？

[2022-11-16 04:26] simon0-o commented on #709
是的，你们直接使用 Apache Thrift 生成的代码与 Kitex 通信

[2022-11-16 06:28] rushwing commented on #709
如果是原生用C++, Python，C#已经写好的代码 （Legacy Applications），是否需要先移植到Thrift框架下，才能进行通信呢？
是否有更便利的对接方法？

[2022-11-16 06:57] simon0-o commented on #709
Kitex 支持 Thrift ( binary+buffered ) 和 gRPC 两种通信协议，任选一种都可和 Kitex 通信

[2022-11-17 03:08] baiyutang opened #715 "IDL method contain specific keywords, genenate code will contain underline"
**Describe the bug**

I defined a method in a `IDL`, look like ` NewTryFFResp NewTryFF(1: NewTryFFReq req)`, method name is NewTryFF. the method name contain a key word `New`.
As Kitex tool handle,  parse IDL to `parser.Function`, it's field `Name` will add a suffix `_`.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**E

[2022-11-17 03:25] #715 closed, assigned to nobody

[2022-11-22 03:31] Ham0118 commented on #705
阴阳怪气

[2022-11-22 06:54] GuangmingLuo commented on #705
Violation of https://github.com/cloudwego/kitex/blob/develop/CODE_OF_CONDUCT.md

[2022-11-22 06:54] #705 closed, assigned to nobody

[2022-11-25 02:19] HeyJavaBean opened #725 "测试issue，等下就删掉"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Kitex version:**

Please provide

[2022-11-25 02:21] #725 closed, assigned to nobody

[2022-11-27 19:37] kolinfluence opened #727 "kitex is slower than go-redis client and icefiredb/redhub server by 2x?"
i've done a benchmark and is it possible that redis is faster than kitex at rpc for <1kb bytes value transfer?

[2022-11-28 03:42] joway commented on #727
I don't why you compare Kitex with redis? it's different language and different thing...

[2022-11-28 09:25] YangruiEmma commented on #694
了解，你可以先对原来的文件修改下命名，然后再生成？

[2022-11-28 09:27] #684 closed, assigned to nobody

[2022-11-28 09:30] YangruiEmma commented on #679
抱歉，忽略了这个issue，这个我们看下如何对齐支持，方便你们迁移，如果是企业用户的话可以联系下 @GuangmingLuo ，有进展可以尽快通知

[2022-11-28 09:47] YangruiEmma commented on #671
ok，我们记录一个todo

[2022-11-28 09:50] YangruiEmma commented on #597
TODO same with #679

[2022-11-28 09:55] #430 closed, assigned to nobody

[2022-11-28 10:58] rushwing opened #729 "kitex_gen is not generated due to the -use option"
**Describe the bug**

Generate code with "-use" flag failed, error message: "kitex_gen is not generated due to the -use option"

**To Reproduce**

Steps to reproduce the behavior:
1. Create a local module _sample_module_ which may contains several services inside of it.
2. cd into /cmd/service_a/ folder, exec command: "kitex -v -module sample_module -service service_a ../../kitex_gen/service_a ../

[2022-11-29 00:38] #709 closed, assigned to nobody

[2022-11-29 06:36] YangruiEmma commented on #667
谢谢你认真的看代码👍，这里的锁是指为了保证ring不会发生并发读写，对ring中元素的值并不要求一致性，这里是rpc的旁路逻辑，用于问题排查，基本不会出现并发的问题，当然dump是逆序遍历，的确存在你说的情况，追求极致的话是可以优化下

[2022-11-29 06:40] YangruiEmma commented on #729
this is not error msg, just tell you kitex_gen is not generated, because you use `-use` option

[2022-11-29 06:42] dierbei opened #731 "服务端stream，发送的过程中停止发送"
**Describe the bug**
[code]
使用的时候发现，发送到一半就停止发送了；客户端那边也不再能接收到数据？

请问这是怎么回事；

[2022-11-29 07:02] dierbei commented on #731
已解决：框架升级到 0.4.3

[2022-11-29 07:20] rushwing commented on #729
https://github.com/cloudwego/kitex-examples/issues/30
I referred to this thread which said that we could use "-use" parameter to specify the import path.

So If I want to use "-use" parameter, I need to:
1. generate kitex_gen folder first
2. copy the kitex_gen folder to the place I want
3. next time I could generate codes without generate kitex_gen folder again.

Correct me if I had something wron

[2022-11-30 00:50] #731 closed, assigned to nobody

[2022-11-30 20:32] kolinfluence opened #733 "kitex is very slow. possible to open source ShmIPC?"
with regards to this issue https://github.com/cloudwego/hertz/issues/385

tested kitex mux and was quite surprised the speed is not as optimum when compared with redis.

hope to have the ShmIPC opensource soon. thx

[2022-11-30 20:33] kolinfluence commented on #727
basically used as RPC, redis is possible to be customized for rpc too.